@charset "utf-8";

body{letter-spacing:-0.05em;}
#front{line-height:1;}
.visually-hidden {position: absolute;white-space: nowrap;width: 1px;height: 1px;overflow: hidden;border: 0;padding: 0;clip: rect(0 0 0 0);clip-path: inset(50%); margin: -1px;}

/* ==============================
* 기존 여백 css 재조정
* ============================== */
#contentWrap{padding:0 !important;}
#subContentWrap{padding:60px 0 100px !important;}
#subContentWrap .subContArea .headingTitleArea .headingText{line-height:24px;padding-bottom:0 !important;}
#subContentWrap .subContArea .headingTitleArea .headingTitle{padding-bottom:20px !important;}
.searchBoxLineWrap{margin:0; 0 60px !important;}

input[type='text'], input[type='password'], input[type='number'], input[type='file']{line-height:40px !important;}

.tabContents > .tabCont{margin-top:60px !important;}
.tabContents + .btnGroup{margin-top:50px !important;}

.searchBoxLine .row .content .ui_checkBox {margin-right:25px;}
.searchBoxLine .row.last {padding-bottom:0;border-bottom:0;}

.ui_selectArea .selectBox{width:350px !important;}
.ui_selectArea .selectBox + .selectBox{margin-left:10px;}

.tableArea table.view.tc thead th,
.tableArea table.view.tc tbody td,
.tableArea table.view.tc tfoot td{text-align:center;}


/* ==============================
*컨텐츠 여백
* ============================== */
.searchResult{margin-top:60px !important;}
.searchBox{margin:30px auto 0 !important;}

.contentArea > .searchWrap,				/* 검색어입력박스  */
.contentArea > .searchBoxLineWrap,		/* 구인정보박스 */
.contentArea > .tradeView					/* 상세_직업박스 */
{margin-top:40px !important;}


/* ==============================
* width 사이즈 %
* ============================== */
.w80p{width:80% !important;}
.w70p{width:70% !important;}
.w50p{width:50% !important;}
.w60p{width:60% !important;}
.w40p{width:40% !important;}
.w35p{width:35% !important;}
.w30p{width:30% !important;}
.w20p{width:20% !important;}

.mt40{margin-top:40px !important;}
.w715{width:715px;max-width:715px !important;}
.w590{width:590px;max-width:590px !important;}

/* ==============================
*title
* ============================== */
/* H4  */
.bult-h4{margin:60px 0 40px;padding-top:16px;color:#292a2d;font-size:22px;background:url('../new_images/common/bult_blueline.png') no-repeat 0 0;background-size:4px 0 0 23px;}
.bult-h4:first-child{margin-top:0;}
.bult-h4 + .tableArea{margin-top:40px !important;}
/* H5  */
.bultH5{width:100%;margin-top:40px;padding-left:10px;color:#5b648a;font-size:16px;background:url('../new_images/common/bult_dotblue.png') no-repeat 0 6px;background-size:4px;}
.bultH5 + .tableArea{margin-top:30px !important;}


/* ==============================
*TabStyle
* ============================== */
.tabWrap{width:100%;padding:30px 0 0;}

/* 오렌지색 글씨 */
.tabDesc{width:100%;line-height:1.3;margin-top:20px;margin-left:10px;text-indent:-10px;color:#f48b2f;font-size:14px;}

/* 탭 + 탭 :하단라인 Tabstyle  */
.tabList04 {width:100%;margin-top:30px;border-bottom:1px solid #e2e2e4;}
.tabList04 ul{overflow:hidden;width:100%;}
.tabList04 li{float:left;width:170px;height:40px;line-height:40px;text-align:center;color:#727476;cursor:pointer;}
.tabList04 li a{display:block;width:100%;height:100%;font-size:16px;}
.tabList04 li.on{border-bottom:2px solid #434e65;color:#5b648a;}
.tabList04 li section{position:absolute;left:0;top:44px;background:#fff;text-align:left;padding:20px;border:1px solid red;box-sizing:border-box;}




/* ==============================
* 검색 조건 영역
* ============================== */
.searchWrap{overflow:hidden;width:900px;margin:30px auto 0;padding:20px 90px;border:3px solid #d8dfeb;background-color:#fff;}
.searchWrap.full{overflow:hidden;width:100%;}
.searchWrap legend{font-size:0;line-height:0;}
.searchWrap dl{display:flex;flex-wrap:wrap;width:100%;}
.searchWrap dt{width:120px;height:40px;}
.searchWrap label{width:100%;line-height:40px;color:#4e4f51;}
.searchWrap dd{width:calc(100% - 120px);margin-bottom:8px;vertical-align:top;}
.searchWrap dd:last-child{margin-bottom:0;}
.searchWrap dd input{max-width:calc(100% - 130px );}
.searchWrap dd select + input, .searchWrap dd input + .btnArea{margin-left:10px;}
.searchWrap dd .inputBox{display:table;width:100%;}
.searchWrap dd .inputBox input{display:inline-block;width:calc(100% - 130px );}
.searchWrap dd .inputBox input + button{display:table-cell;margin-left:10px;}
/* ==============================
* keyword
* ============================== */
.keyword{margin-top:10px;font-size:14px;color:#9e9e9e;}
.keyword > a, .keyword > button{display:inline-block;margin:0 4px;min-width:30px;line-height:26px;vertical-align:middle;text-align:center;color:#333;box-sizing:border-box;border:1px solid #ccc;}
.keyword > a.on, .keyword > button.on{border-color:#4270e0;color:#4270e0;}
.keyword > a:hover:not(.pb), .keyword > button:hover:not(.pb){border-color:#4270e0;color:#4270e0;}
.keyword > a:last-child, .keyword > button:last-child{padding:0 5px;}
.keyword > a, .keyword > button:first-child{margin-left:0;}

/* 검색 버튼 */
.btn_search{display:inline-block;height:40px;line-height:40px;padding:0 36px;color:#fff;font-size:14px;text-align:center;background:#4171df;border:1px solid #4171df;}

/* ========== 3단링크박스 ========== */
.gridWrap{overflow:hidden;width:100%;margin:30px auto 0;padding:20px 0;border:3px solid #d8dfeb;background-color:#fff;}
.gridWrap .title{display:block;width:100%;padding:20px 0 60px;color:#292a2d;font-size:26px;text-align:center;}
.gridWrap .outer-grid{display:table;width:100%;table-layout:fixed;}
.gridWrap .outer-grid div{display:table-cell;padding:0 10px;vertical-align:top;border-right:1px solid #dfdfdf;}
.gridWrap .outer-grid div:nth-child(3n){border-right:0;}
.gridWrap .outer-grid div li{padding-right:20px;}
.gridWrap .outer-grid div li a{display:block;padding:20px;background:url('../new_images/common/ico_arrowR.png') no-repeat right center;background-size:30px;}

/*=========  분류별 선택 검색조건 =========*/
.tabSelect .content_w100 { float:left; width:100%;}
.tabSelect .content_w100:after { content:''; display:block; clear:both; }
.tabSelect .content_w100 .btn { float:left; width:116px; line-height:50px; background-color:#e4ecf7; }
.tabSelect.on .content_w100 .btn { background-color:#5b648a; color:#fff; }
.tabSelect .content_w100 .boxWrap { box-sizing:border-box; display:none; float:left; width:100%; border:2px solid #5b6589; position:absolute; top:0; right:0; }
.tabSelect.on .content_w100 .boxWrap { display:block; }
.tabSelect .content_w100 .boxWrap .box { box-sizing:border-box; float:left; }
.tabSelect .content_w100 .boxWrap .box + .box { border-left: 1px solid #f0f0f2; }
.tabSelect .content_w100 .boxWrap.fifth .box { width:20%; }
.tabSelect .boxWrap.fifth .list li { width:100%; }

.tabSelectWrap.noline {min-height:300px !important;padding-bottom:0 !important; margin-bottom:0 !important; border-bottom:0 !important; position:relative; }
.keywordArea2{width:100%;padding:60px 30px;background-color:#f0f0f2; }
.keywordArea2 p{width:100%;text-align:center;}
.keywordArea2 p.title{padding-bottom:20px;color:#292a2d;font-size:22px;vertical-align: middle;}
.keywordArea2 p.title em{color:#4171df;}
.keywordArea2 p .con{color:#727476;font-size:16px;vertical-align: middle;}
.keywordArea2 p .con:last-child{color:#4e4f51;}


/* ==============================
* 직업/기관 박스
* ============================== */
.tradeList{position:relative;width:100%;border-top:2px solid #2d4059;}
.tradeList li{width:100%;font-size:18px;padding:25px 30px;border-bottom:1px solid #dfdfdf;}
.tradeView{position:relative;width:100%;padding:25px 37px;border:3px solid #d8dfeb;}
.tradeView .tradeTitle{line-height:30px;font-size:22px;}

.tradeText{display:table;overflow:hidden;width:100%;height:30px;}
.tradeText .tradeTitle{display:inline-block;float:left;height:100%;line-height:28px;font-size:18px;}
.tradeText .selectView{display:inline-block;float:right;}
.tradeText .conFirm{float:right;}

.txtSection{overflow:hidden;width:100%;padding-top:10px;}
.txtSection li{display:inline-block;float:left;width:auto;padding:10px 80px 0 0;font-size:14px;color:#727476;line-height:20px;border-bottom:0;}
.txtSection li:last-child{float:right;width:40%;padding-right:0;text-align:right;}
.txtSection span{font-size:14px;color:#727476;line-height:30px;}
.txtSection .part{height:23px;line-height:20px;margin-right:10px;padding:0 15px;color:#666;border:1px solid #dfdfdf;border-radius:10px;}
.txtSection p{font-size:14px;color:#727476;line-height:30px;text-align:right;}

.tradeLine{width:100%;margin-top:20px;border-top:1px dashed #dfdfdf;}
.belongto{vertical-align:top;display:inline-block;height:25px;line-height:25px;margin-left:15px;padding:0 14px;color:#222;font-size:11px;text-align:center;border-radius:3px;background-color:#e3e7ee;}

/* ---------- 관심등록 버튼 ---------- */
.btnLike{width:126px;height:30px;margin-left:80px;color:#65646a;font-size:14px;text-align:center;border:1px solid #dfdfdf;background-color:#fff;}
.btnLike span{position:relative;width:100%;line-height:26px;padding-left:20px;color:#65646a;font-size:14px;}
.btnLike span:after{content:'';position:absolute;left:0;top:50%;width:100%;height:14px;margin-top:-7px;background:url('../new_images/common/icoLike.png') no-repeat 0 0;}
.btnLike.on{background-color:#c9d3e8;}


/* ==============================
* 블릿타이틀 + 컨텐츠
* ============================== */
#front .txtCon01{width:100%;margin-bottom:40px;}
#front .txtCon01 .scon{line-height:22px;padding:10px 0 0 10px;color:#727476;font-size:14px;}
#front .txtCon01 .scon.decimal{list-style-type:decimal;list-style-position:inside;}
#front .txtCon01 .scon.decimal li{text-indent:-10px;margin-left:10px;}
#front .txtCon01 .scon + .tableArea{margin-top:10px;}
#front .viewArea{margin:40px 0 0;}
#front .tabInterface, #front .tabContents{margin-top:40px;}
.guideBox{width:100%;line-height:20px;padding:25px 35px;color:#727476;font-size:12px;background-color:#f7f7f7;}

/* ==============================
* 테이블
* ============================== */
table.list td.tl p{line-height:1.4;}
table .nodata{height:150px;text-align:center;}	/*  table data가 없는 경우  */
.pagenation{margin-top:20px;}

table.view th.photo{background:#fff url('../new_images/common/bg_photo.png') no-repeat center center;background-size:121px 151px;}

