@charset "utf-8";
/* ==============================
* 공통 컨텐츠
* ============================== */ 
#subContentWrap .lnbAreaTy1 {display:none;}

/* ==============================
* table
* ============================== */
#subContentWrap .tableArea.ty2 table { margin-bottom:30px; }
#subContentWrap .tableArea.ty2 th, 
#subContentWrap .tableArea.ty2 td {  font-weight:400;  font-size:24px; padding:25px 5px; }
.tableArea table.list th.last, .tableArea table.list td.last { border-right:none; }
.selectW300 { min-width:300px; width:300px; }


/* ==============================
* tab
* ============================== */
.tabCont h3 { display:none; font-size:0; }

/* 별점 */
.star { text-indent:-9999px; line-height:0; background:url('../new_images/common/icoStar.png') no-repeat; width:125px; height:19px;  }
.star.star05 { background-position:0 -19px; }
.star.star04 { background-position:0 -38px; }
.star.star03 { background-position:0 -57px; }
.star.star02 { background-position:0 -76px; }
.star.star01 { background-position:0 -95px; }

/* ==============================
* button
* ============================== */
.btnListTy1 li {width:100%; margin:7px 0; }
/* 바로가기 */
.goLinkLong02 {display:inline-block; min-width:220px; height:45px; line-height:43px; padding:0 20px; text-align:center; border:2px solid #cdcdd1; font-size:26px; color:#4e4f51;}
.btnH26 {display:inline-block; min-width:220px; height:45px; line-height:43px; padding:0 20px; text-align:center; font-size:26px; color:#258384; border:2px solid #258384; }
/* 다운로드버튼 */
button.lookupBtn, a.lookupBtn { display:inline-block; height:50px; line-height:46px; padding:0 30px; text-align:center; font-size:26px; color:#258384; border:2px solid #258384; }

/* ==============================
* etc
* ============================== */
.endLineM2 { height:8px; background:#e7e9f0; margin:20px 0 60px 0; }

/* ==============================
* 자주묻는 질문 & 질문과 답변
* ============================== */  

/* 검색박스 */
#subContentWrap .subContArea .sortArea { display: flex; justify-content: space-between; padding: 8px 30px; }
#subContentWrap .subContArea .sortArea .totalNum { font-size:26px; height:30px; padding-top:10px; color:#727476; }
#subContentWrap .subContArea .sortArea .totalNum strong { color:#f58220; }
#subContentWrap .subContArea .sortArea .selectViewArea .selectView { display:inline-block; }
#subContentWrap .subContArea .sortArea .selectViewArea label { position:fixed; bottom:0; font-size:0; line-height:0; }


#subContentWrap .subContArea .searchBox.ty2 { border-top :6px #e1e4e9 solid; margin-top:20px; }
#subContentWrap .subContArea .searchBox.tyM2 { border-top :6px #e1e4e9 solid; margin-top:20px; margin-bottom:50px; background-color:#fff; padding:60px 70px;}
#subContentWrap .subContArea .searchBox.tyM2 .radioBoxList { margin-top:-30px; }
#subContentWrap .subContArea .searchBox.tyM2 .radioBoxList .ui_radioBox  { padding:0 0 0 50px; }
#subContentWrap .subContArea .searchBox.tyM2 .radioBoxList .ui_radioBox label { color:#727476; font-size:28px; cursor:pointer; margin-right:35px; }
#subContentWrap .subContArea .searchBox.tyM2 .radioBoxList .ui_radioBox.end label {margin-right:0; }
.checkBoxList { overflow:hidden; }
.checkBoxList li { float:left; width:50%; color:#727476; font-size:28px; }
.checkBoxList2 {overflow:hidden; }
.checkBoxList2 li {width:100%; margin-bottom:20px; color:#727476; font-size:28px; }

#subContentWrap .subContArea .searchBox.tyM2 .btnArea {padding-top:30px;}
#subContentWrap .subContArea .searchBox.tyM2 .btnArea .searchBtn {min-width:500px; width:100%;}

#subContentWrap .subContArea .searchBox.tyM3 { border-top :6px #e1e4e9 solid; margin-top:20px; margin-bottom:50px; background-color:#fff; padding:60px 70px;}

/* qna */
#subContentWrap .subContArea .qnaArea { width:100%; padding:80px 30px 0; }

#subContentWrap .subContArea .qnaArea .txtQ.ty2 { height:80px; position:relative; }
#subContentWrap .subContArea .qnaArea .qnaQ .txtQ.ty2 .txt01 {position:absolute; top:-25px; left:0; }
#subContentWrap .subContArea .qnaArea .qnaQ .txtQ.ty2 .txt02 {position:absolute; top:70px; left:-20px; }
#subContentWrap .subContArea .qnaArea .qnaQ .txtQ.ty2 .qnaText {position:absolute; top:20px; left:0; }
#subContentWrap .subContArea .qnaArea .qnaQ .txtQ.ty2 > .qnaSection > li {border:none;}
#subContentWrap .subContArea .qnaArea .qnaQ.ty2:after {top:calc(100% - 95px);}
#subContentWrap .subContArea .qnaArea .qnaQ.ty3:after {top:calc(100% - 155px); }
#subContentWrap .subContArea .qnaArea .qnaQ.ty4:after {top:calc(100% - 85px); }


/* ==============================
* pagenation
* ============================== */
.pagenation.verM { text-align:center; }


/* ==============================
* MY서비스
* ============================== */ 

/* MY훈련 - 직업훈련이력 */
.myTrainingArea .qnaArea { padding:0 30px; }
.myTrainingArea .tableArea { padding:0 30px; }
.inPdg30 {padding:0 30px; }

#subContentWrap .subContArea .qnaArea .qnaA.ty01 { position:relative; padding:30px; border-bottom: 1px solid #e3e7ee; background:#fbfbfb; display:none; }
.TrainingHistoryBox { background:#fff; margin-bottom:20px; border-top:1px #e2e2e4 solid; border-left:1px #e2e2e4 solid; border-right:1px #e2e2e4 solid; }
.TrainingHistoryBox > ul { }
.TrainingHistoryBox > ul > li { width:100%; border-bottom:1px #e2e2e4 solid; line-height:80px; }
.TrainingHistoryBox > ul > li > dl { position:relative; overflow:hidden; display:flex; align-items:center; margin:25px 0; }
.TrainingHistoryBox > ul > li > dl > dt, .TrainingHistoryBox > ul > li > dl > dd { float:left; line-height:38px;}
.TrainingHistoryBox > ul > li > dl > dt { width:205px;  font-size:28px; color:#4e4f51; text-align:center; }
.TrainingHistoryBox > ul > li > dl > dd { color:#292a2d; font-size:28px; padding-left:40px; }
.TrainingHistoryBox > ul > li > dl > dt:before { content:''; position:absolute; top:2px; left:205px; height:calc(100% - 2px); border-left:3px solid #e3e7ee; }
.TrainingHistoryBox > ul > li > dl > .star { margin-left:40px; }

.inTextBox { margin-top:-20px; }
.inTextBox .txtQ { margin:-10px 0; }
.inTextBox .qnaText { display: inline-block; width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.inTextBox .txt1 { font-size:24px; color:#727476; padding:13px 0 15px 0; }
.inTextBox .txt2List > li > dl { display: inline-block; overflow:hidden; width:100%; }
.inTextBox .txt2List > li > dl > dt,
.inTextBox .txt2List > li > dl > dd { float:left; font-size:26px; line-height:46px; color:#727476; }
.inTextBox .txt2List > li > dl > dt { width:160px; }
.inTextBox .txt2List > li > dl > dt > span { display:inline-block; text-align:center; min-width:150px; border:1px #d3d3d3 solid; padding:0 10px; border-radius:25px; }
.inTextBox .txt2List > li > dl > dd { text-align:left; }
.inTextBox .txt4 { font-size:24px; color:#727476; padding-top:15px; }

#subContentWrap .subContArea .qnaArea .qnaA.ty4 { background-color:#fff; padding:40px 20px; margin:0; border-bottom:2px #e2e2e4 solid; }
.innerTableArea { border-top:2px #e2e2e4 solid; }
.innerTableArea .view th { font-size:26px;  color:#222; font-weight:400; border-bottom:2px #e2e2e4 solid; background:#f0f0f2; padding:7px 20px; }
.innerTableArea .view td { border-bottom:1px #e2e2e4 solid; background:#fff; padding:7px 20px; }

.infoTextBoxS {  font-size:24px;  color:#727476; font-weight:400; background:#f7f7f7; padding:30px; margin:40px -20px 0 -20px; }

/* 타이틀 */
.bigTitle02 { font-size:34px; color:#292a2d; height:60px; }

/* 비대면 - 목록 */
.applicationBox { text-align:center; }
.applicationBox .title {font-size:28px; letter-spacing:-1px; word-break: keep-all; }
.applicationBox .btn { padding-top:30px; margin-bottom:30px;}

/* MY카드 */
#subContentWrap .subContArea .headingTitleArea h3.headingTitle.ty2 { letter-spacing:-2px;  padding:60px 0 0 0;  }
#subContentWrap .subContArea .headingTitleArea h3.headingTitle.ty2 .depth4 { font-size:36px; color:#727476; font-weight:400; padding-left:10px; }

.myCardArea {}
.myCardArea .signUpFlow { padding:60px 20px 0 20px; border-top:8px #e7e9f0 solid; }
.myCardArea .signUpFlow .signUpFlowList .txt { font-weight:300; line-height:36px; letter-spacing:-2px; word-break: keep-all; }
.myCardArea .signUpFlow .signUpFlowList .on .txt { font-weight:500; }

.partArea { padding:0 30px; }
.myCardArea .btnGroup { margin-top:60px; }
.myCardArea .partArea .partBox01,
.myCardArea .partArea .partBox02 { margin-top:50px; }
.myCardArea .partArea .partBox01 .btmTxt.verM { font-size:28px; color:#727476; line-height:40px; }

.bigTitle05 { font-size:34px; color:#292a2d; padding-bottom:30px; height:70px; }
.txtList01 { margin-top:40px; }
.txtList01 > dt { position:relative; font-size:30px; color:#5b648a; font-weight:500; padding-left:27px; }
.txtList01 > dt:before{ content:''; position:absolute; top:19px; left:0; display:block; width:8px; height:8px; background:#5b648a; border-radius:50%; }
.txtList01 > dd{ font-size:26px; color:#727476; line-height:36px; padding:7px 27px; }
.txtList01 > dd .btn { display:block; padding-top:10px; }
.txtList01 > dd .btn button { display:block; margin:10px 0; }

.txtBox01 { border:2px #e2e2e4 solid; padding:38px 30px 0 30px; margin-top:50px; }
.txtBox01 > ul { overflow:hidden; min-width:570px; width:100%; text-align:center; }
.txtBox01 > ul > li { position:relative; float:left; text-align:center; padding-right:40px; margin-bottom:40px; }
@media ( max-width:640px ) {
	.txtBox01 > ul > li:last-child { clear:both; padding-right:0; margin-right:-80px; width:0; }
}
.txtBox01 > ul > li:last-child { padding-right:0; margin-right:-80px; width:0; }
.txtBox01 > ul > li:before { content:''; position:absolute; top:75px; right:10px; width:19px; height:35px; background:url('../new_images/common/arrowStepM.png') no-repeat; }
.txtBox01 > ul > li > .innerTxtBox { width:216px; border:2px #e2e2e4 solid; padding-bottom:30px; }
.txtBox01 > ul > li > .innerTxtBox.end { width:472px; }
.txtBox01 > ul > li > .innerTxtBox > dt { font-size:32px; color:#292a2d; padding-top:17px; }
.txtBox01 > ul > li > .innerTxtBox > dd { font-size:24px; color:#727476; line-height:30px; padding-top:12px; }

.txtBox02 { background:#f7f7f7; padding:40px 25px 0 25px; }
.innerTxtList01 { overflow:hidden; border-bottom:2px #cdcdd1 solid; }
.innerTxtList01 > li { font-size:26px; color:#727476; line-height:38px; padding-bottom:30px; text-indent:-33px; }
.checkBox01 { background:#f7f7f7; padding:30px 25px; height:105px; }
.checkBox01 .ui_checkBox { }
.checkBox01 .ui_checkBox > label{ font-size:22px; color:#727476; }

.bigTitle06 { position:relative; font-size:34px; color:#292a2d; font-weight:500; height:60px; margin-top:50px; }
.bigTitle06 .txt { position:absolute; top:15px; right:0; display:block; font-size:22px; color:#727476; font-weight:400; }
.bigTitle06 .txtPC { display:none; }

.partArea .signUpForm {}
.partArea .signUpFormList > li .inpArea .bgcolorGray { background:#ebebeb; }

/* 입력항목 */
.adressInput { display:table; width:100%; }
.adressInput > .ele { display:table-cell; vertical-align:top; height:82px; }
.adressInput > .ele.ty1 { width:383px; padding-right:10px; }
.adressInput > .ele .uiBtn { min-width:198px; color:#258384; padding:0 10px; height:70px; background-color:#fff; border:2px #258384 solid; }
.adressInput2 { display:table; width:100%; }
.adressInput2 > .ele { display:table-row; vertical-align:top; height:90px; }
.adressInput2 > .ele.ty1 { height:70px; }

.educationInput {font-size:0;}
.educationInput > .ele {display:inline-block;}
.educationInput > .ele.ty1 {width:50%; padding-right:10px; font-size:28px; color:#4e4f51; text-align:center; vertical-align:middle;}
.educationInput > .ele.ty2 {width:50%; padding-right:0; font-size:28px; color:#4e4f51; text-align:center; vertical-align:middle;}
.educationInput > .ele.ty3 {display:block; width:100%; padding-top:20px;}
.educationInput > .ele input[type="text"],
.educationInput > .ele .selectBox  {width:100%;}

.radioInput .ui_radioBox { color:#727476; margin-right:100px; }