@charset "utf-8";

/* ==============================
* table
* ============================== */
.tableArea td { position:relative; }
.tableArea table.list td.none { padding:40px 0;}
.tableBtnList {position:absolute;top:14px; right:20px;}
.tableBtnList li {float:left;padding-left:12px;}
.tblInfoTxt { font-size:12px; color:#727476; background-color:#f7f7f7; padding:30px; margin:-20px 0 20px 0; }

.tableArea + .ty2 {margin-top:40px;}
.tableArea .selectW50, .selectW50 { min-width:50px; width:50px; }
.tableArea .selectW65, .selectW65 { min-width:65px; width:65px; }
.tableArea .selectW80, .selectW80 { min-width:80px; width:80px; }
.tableArea .selectW130, .selectW130 { min-width:130px; width:130px; }
.tableArea .selectW150, .selectW150, .btnW150 { min-width:150px; width:150px; }
.tableArea .selectW160, .selectW160 { min-width:160px; width:160px; }
.tableArea .selectW180, .selectW180 { min-width:180px; width:180px; }
.tableArea .selectW180, .selectW190 { min-width:190px; width:190px; }
.tableArea .selectW200, .selectW200 { min-width:200px; width:200px; }
.tableArea .selectW210, .selectW210 { min-width:210px; width:210px; }
.tableArea .selectW243, .selectW243 { min-width:243px; width:243px; }
.tableArea .selectW250, .selectW250 { min-width:250px; width:250px; }
.tableArea .selectW486, .selectW486 { min-width:486px; width:486px; }
.tableArea .selectW585, .selectW585 { min-width:585px; width:585px; }
.tableArea .selectW692, .selectW692 { min-width:692px; width:692px; }
.btnW60 { min-width:60px; width:60px; padding:0; }
.moreBtn { display:none; }

/* ==============================
* radio
* ============================== */
.ui_radioBox.ty2 { padding-left:30px; }
.ui_radioBox.ty2 + .ui_radioBox.ty2 { margin-left:0; }
.ui_radioBox.ty2 + br + .ui_radioBox.ty2 { margin-left:0; }
.ui_radioBox.ty2 label { margin-right:10px; }

.ui_radioBox.ty3 { padding-left:35px; }
.ui_radioBox.ty3 + .ui_radioBox.ty3 { margin-left:0; }
.ui_radioBox.ty3 + br + .ui_radioBox.ty3 { margin-left:0; }
.ui_radioBox.ty3 label { margin-right:35px; }

.ui_radioBox.ty4 { padding-left:30px; margin:5px 0; }
.ui_radioBox.ty4 + .ui_radioBox.ty4 { margin-left:0; }
.ui_radioBox.ty4 + br + .ui_radioBox.ty4 { margin-left:0; }
.ui_radioBox.ty4 label { margin-right:30px; }

/* ==============================
* button
* ============================== */
.btnGroup.ty2 { display:block; text-align:right; }
/* 바로가기 */
.goLinkLong02 {display:inline-block; min-width:80px; height:26px; line-height:24px; padding:0 20px; text-align:center; border:1px solid #cdcdd1; font-size:12px; color:#4e4f51;}
.btnH26 {display:inline-block; min-width:112px; text-align:center; font-size:14px; color:#258384; border:1px solid #258384; line-height:24px;}
/* 다운로드버튼 */
button.download, a.download { min-width:75px; display:inline-block; text-align:center; background:#c9d3e8; color:#4e4f51; font-size:12px; line-height:26px; height:26px; padding:0 10px; box-sizing:border-box; }
.download.grey { border:1px #cdcdd1 solid; color:#4e4f51; background:#fff; }
button.lookupBtn, a.lookupBtn { display:inline-block; min-width:65px; text-align:center; padding:0 10px; font-size:12px; color:#258384; border:1px solid #258384; line-height:24px; }
button.delBtn, a.delBtn { display:inline-block; min-width:65px; text-align:center; padding:0 10px; font-size:12px; color:#4e4f51; border:1px solid #cdcdd1; line-height:24px; }


/* ==============================
* etc
* ============================== */
.brd-b-ty1 {border-bottom:1px solid #e2e2e4 !important;}





/* ==============================
* 공통 컨텐츠
* ============================== */

#subContentWrap .lnbAreaTy1 { width:240px; text-align:left; }
#subContentWrap .lnbAreaTy1 > ul { width:210px; border-bottom:1px solid #dcdcdd; } 
#subContentWrap .lnbAreaTy1 > ul > li { border-top:1px solid #eee; height: 45px; line-height: 45px; padding:0 15px; }
#subContentWrap .lnbAreaTy1 > ul > li:first-child { border-top:none; }
#subContentWrap .lnbAreaTy1 > ul > li > a { font-size:15px; color:#727476; }
#subContentWrap .lnbAreaTy1 > ul > li > a:hover, 
#subContentWrap .lnbAreaTy1 > ul > li > a.on { color:#4e4f51; font-weight:500; }
#subContentWrap .lnbAreaTy1 > ul .top { font-size:16px; font-weight:500; }

#subContentWrap .subContArea .headingTitleArea .headingTitle .depth4 { color:#727476; font-size:26px; }

/* 검색박스 */
#subContentWrap .subContArea .searchBox.ty2 {margin-bottom:50px; padding:22px 0 20px 55px;}
#subContentWrap .subContArea .searchBox > fieldset > dl > dd .searchSelect03 { width:200px }
#subContentWrap .subContArea .searchBox.ty2 .btnArea button { width:80px; padding:0; margin-left:-5px; }
#subContentWrap .subContArea .searchBox.ty2 .btnArea button:last-child {border-left:1px #4171df solid;}
#subContentWrap .subContArea .searchBox.ty2 .btnGroup { margin-top:10px; }
.dateSelect { display:inline; position:relative;}
.dateSelect .btn_calendar { position:absolute; top:5px; right:15px; width:20px; height:19px; background:url('../new_images/common/inoCalendar.png') no-repeat;  }
.dateSelectTxt01 { display:inline-block; width:28px; text-align:center;}

#subContentWrap .subContArea .searchBox.ty3 {margin-bottom:50px; padding:12px 0 20px 55px;}
#subContentWrap .subContArea .searchBox.ty3 > fieldset > dl > dt,
#subContentWrap .subContArea .searchBox.ty3 > fieldset > dl > dd { height:95px; line-height:95px; margin-top:-15px; border-bottom:1px #f4f4f4 solid; }
#subContentWrap .subContArea .searchBox.ty3 .btnGroup  { margin-top:10px; }

#subContentWrap .subContArea .searchBox.tyM2 { position:relative; margin-bottom:50px;  }
#subContentWrap .subContArea .searchBox.tyM2 .btnArea {position:absolute;bottom:20px; right:150px;}
.checkBoxList { overflow:hidden; }
.checkBoxList li { float:left; width:200px; }
.checkBoxList2 {overflow:hidden; }
.checkBoxList2 li { float:left; width:200px;}
.checkBoxList.ty2 {padding-top:10px; }

/* 정렬방식 */
#subContentWrap .sortArea.ty2 { margin:35px 0 -30px 0; }
#subContentWrap .sortArea.ty3 { margin:50px 0 0 0; }



/* ==============================
* MY서비스
* ============================== */ 
/* MY훈련 */
.myTrainingArea { margin-top:15px; }
#subContentWrap .infoBoxArea.ty01 { border:3px #e1e4e9 solid; padding:12px 25px; margin:40px 0 30px 0;}
#subContentWrap .infoBoxArea.ty01 > ul >li { position:relative; font-size:14px; color:#767676; line-height:44px; padding-left:12px; }
#subContentWrap .infoBoxArea.ty01 > ul >li:before {content:""; position:absolute; top:20px; left:0; width:4px; height:4px; background-color:#727476; border-radius:50%;  }

#subContentWrap .subContArea .qnaArea .qnaA.ty01 { position:relative; padding:30px; border-bottom: 1px solid #e3e7ee; background:#fbfbfb; display:none; }
.TrainingHistoryBox { background:#fff; margin-bottom:20px; border-top:1px #e2e2e4 solid; border-left:1px #e2e2e4 solid; border-right:1px #e2e2e4 solid; }
.TrainingHistoryBox > ul { overflow:hidden; width:100%;  }
.TrainingHistoryBox > ul > li { float:left; width:50%; border-bottom:1px #e2e2e4 solid; }
.TrainingHistoryBox > ul > li.borL {border-left:1px #e2e2e4 solid;}
.TrainingHistoryBox > ul > li.clearW100 {clear:both; width:100%;}
.TrainingHistoryBox > ul > li > dl { position:relative; overflow:hidden; display:flex; align-items:center; margin:14px 0; height:35px; line-height:100%; }
.TrainingHistoryBox > ul > li > dl > dt, .TrainingHistoryBox > ul > li > dl > dd { float:left; }
.TrainingHistoryBox > ul > li > dl > dt { width:170px; color:#4e4f51; text-align:center; }
.TrainingHistoryBox > ul > li > dl > dd { color:#292a2d; font-size:14px; padding-left:40px; }
.TrainingHistoryBox > ul > li > dl > dd:before { content:""; position:absolute; top:0; left:170px; width:1px; height:35px; background-color:#e3e7ee;  }
.TrainingHistoryBox > ul > li > dl > .star { margin-left:40px; }

.PathArea > .bigTitle02 { margin-top:50px; }
.PathArea > .tableArea .btnH26 { margin:5px 0; }

.RouteSearchBox { border:3px #e1e4e9 solid;  padding:30px; margin-bottom:30px; }
.RouteSearchBox > dl {overflow:hidden; margin-bottom:30px; }
.RouteSearchBox > dl > dt, .RouteSearchBox > dl > dd { float:left; }
.RouteSearchBox > dl > dt { width:90px; color:#4e4f51; font-size:18px; }
.RouteSearchBox .ncsSchArea { width:741px; border:3px solid #434e64;}
.RouteSearchBox .ncsSchSortList > li > input[type="radio"]:checked + label,
.RouteSearchBox .ncsSchSortList > li > label:focus,
.RouteSearchBox .ncsSchSortList > li > label:hover {padding:0px 35px 0px 13px; background-color:#c9d3e8; color:#5b648a; border-radius:25px;}
.RouteSearchBox .ncsSchSortList > li > input[type="radio"]:checked + label:after,
.RouteSearchBox .ncsSchSortList > li > label:focus:after,
.RouteSearchBox .ncsSchSortList > li > label:hover:after {content:''; position:absolute; top:50%; right:18px; display:inline-block; width:16px; height:11px; margin-top:-5px; background:url('../new_images/common/checkSelect.png')}

.myTrainingArea > .contListWrap {padding-top:0;}

#subContentWrap .contListType1Wrap.ty2 {margin-bottom:50px;}

#subContentWrap .contListType3.ty2 { margin-bottom:50px;  }
#subContentWrap .contListType3.ty2 li {padding:14px 0; }
#subContentWrap .contListType3.ty2 li .download {display:inline; margin-left:15px; }
#subContentWrap .contListType3.ty2 li .download.Mdn {margin-left:0; }

#subContentWrap .contListType4.ty2 {margin:-18px 0;}
#subContentWrap .contListType4.ty2 li {position:relative; padding:14px 0; }

.choiceArea { border:3px #e1e4e9 solid; margin-bottom:50px; padding:15px 0 15px 40px; }
.choiceArea > ul { display:table; width:100%; }
.choiceArea > ul > li {display:table-cell; width:24%; display:inline-block; padding:5px 0; margin:0; }

#subContentWrap .tableArea.ty2 {margin-bottom:50px;}
#subContentWrap .tableArea.ty2 .list th, 
#subContentWrap .tableArea.ty2 .list td {padding:14px 5px;}

.textareaBoxLine { border:1px #e2e2e4 solid; padding:20px; margin-bottom:50px; }
.textareaBoxLine .textareaBox textarea {height:150px;}
.textareaBoxLine .textareaBox2 textarea {height:100px;}

.AddFilesArea { border-top:2px #727476 solid; margin-bottom:50px; }
.AddFilesArea .fileBox {overflow:hidden; padding:20px 0; }
.AddFilesArea .fileBox dt { float:left; position:relative; font-size:14px; }
.AddFilesArea .fileBox dt span {padding-left:5px; }
.AddFilesArea .fileBox dt .btnDelete { position:absolute; top:2px; right:-30px; font-size:0; width:21px; height:21px; background:url('../new_images/common/icoFileDelete.png') no-repeat;  }
.AddFilesArea .fileBox dd { float:right; color:#767676; font-size:13px; }
.AddFilesArea .dragBox {color:#767676; font-size:14px; border:3px #e1e4e9 solid; padding:32px 0; text-align:center; }
.AddFilesArea .fileBtnBox { background:#f7f7f7; padding:25px; }
.AddFilesArea .fileBtnBox .btnGroup .btnTy2,
.AddFilesArea .fileBtnBox .btnGroup .btnTy3 { width:152px; padding:0; margin-right:10px; }
.AddFilesArea .fileBtnBox .btnGroup .btnTy4 { width:152px; padding:0; }


.inTextBox {margin-bottom:20px; }
.inTextBox .txt1 { font-size:14px; color:#4e4f51; padding-top:15px; }
.inTextBox .txt2List { overflow:hidden; padding-top:15px; }
.inTextBox .txt2List > li { float:left; width:49%; }
.inTextBox .txt2List > li > dl { overflow:hidden; }
.inTextBox .txt2List > li > dl > dt,
.inTextBox .txt2List > li > dl > dd { float:left; width:50%;  font-size:13px; color:#666; }
.inTextBox .txt2List > li > dl > dt { width:100px; }
.inTextBox .txt2List > li > dl > dt > span { display:inline-block; text-align:center; min-width:90px; height:24px; line-height:24px; border:1px #d3d3d3 solid; padding:0 10px; border-radius:10px; }
.inTextBox .txt2List > li > dl > dd { text-align:left; }
.inTextBox .txt3 { font-size:12px; color:#727476; }
.inTextBox .txt4 { font-size:14px; color:#727476; padding-top:15px; }

.innerTableArea { border-top:1px #e2e2e4 solid; }
.innerTableArea .view th { font-size:14px;  color:#222; font-weight:400; border-bottom:1px #e2e2e4 solid; background:#f0f0f2; padding:7px 20px; }
.innerTableArea .view td { border-bottom:1px #e2e2e4 solid; background:#fff; padding:7px 20px; }

.infoTextBoxS {  font-size:12px;  color:#727476; font-weight:400; background:#f7f7f7; padding:30px; margin-bottom:60px; }

/* 비대면 - 목록 */
.applicationBox { position:relative; border:1px #e4e7ee solid; padding:15px 0; margin:15px 0 20px 0; }
.applicationBox dl.title { overflow:hidden; }
.applicationBox dl.title dt, .applicationBox .title dd { float:left; line-height:30px; }
.applicationBox .title dt { width:200px; color:#4e4f51; padding-left:30px; border-right:1px #e3e7ee solid; }
.applicationBox .title dd { color:#727476; font-size:14px; padding-left:30px; }
.applicationBox .btn { position:absolute; top:10px; right:20px; }

.processArea { margin-top:50px;}

/* 타이틀 */
.bigTitle02List {overflow:hidden;}
.bigTitle02List dt {float:left;}
.bigTitle02List dd {float:right; }
.bigTitle02 {font-weight:500; font-size:22px; color:#292a2d; height:42px; }
.bigTitle03 {font-weight:500; font-size:18px; color:#292a2d; height:40px;}
.bigTitle04 {position:relative;font-weight:500; font-size:16px; color:#5b648a; height:30px; padding-left:12px; }
.bigTitle04:before{content:''; position:absolute; top:10px; left:0; width:4px;height:4px; background:#5b648a; border-radius:50%; }
.bigTitle05 { font-size:22px; color:#292a2d; font-weight:500; height:60px; }

.bigTitle06 { font-size:22px; color:#292a2d; font-weight:500; height:40px; margin-top:50px; }
.bigTitle06 .txtPC { font-size:13px; color:#727476; font-weight:400; padding-left:15px; }

.bigTitle07List {overflow:hidden; margin-top:50px; }
.bigTitle07List dt {float:left;}
.bigTitle07List dd {float:right; }
.bigTitle07 { font-size:22px; color:#292a2d; font-weight:500; height:40px; }
.bigTitle07 .txtPC { font-size:13px; color:#727476; font-weight:400; padding-left:15px; }

/* 비대면 훈련상담 */
#myStateWrap .myStateArea .myStateBox .myState2 { max-width:182px; }



/* MY관심 */
.myInterestArea {}
.myInterestArea .searchBox .btnArea01 { margin-left:25px; }
.myInterestArea .sortArea01 { margin-top:50px; }
.myInterestArea .sortArea02 { margin-top:-30px; }

.tableArea.tableArea01 .list { border-top:2px #727476 solid; }
.tableArea.tableArea01 .list th { padding:20px 14px; border-bottom:1px #e2e2e4 solid; }
.tableArea.tableArea01 .list td { padding:20px 5px; }
.tableArea.tableArea01 .list .none2 { text-align:left; line-height:24px; padding:15px 0 15px 20px; }

.myInterestArea { margin-top:15px; }
.myInterestArea .tabListArea { margin-bottom:60px; }
.myInterestArea .tabContents .tabCont { margin-bottom:50px; }

.infoBtnList { height:45px; }
.infoBtnList ul { overflow:hidden; }
.infoBtnList .txt { float:left; color:#4e4f51; font-size:16px; }
.infoBtnList .btn { float:right; }

.selectionBox { border:3px #e1e4e9 solid; height:180px; padding:30px; margin-bottom:20px; }
.selectionBox .txt { font-size:14px; color:#727476; text-align:center; line-height:150%; padding:30px 0; }
.selectionBox .selectionList > li { font-size:14px; color:#4e4f51; }

/* MY관심 - 나의 맞춤설정 */
.divtableArea01 { border-top:2px #727476 solid; }
.divtableArea01 .divtableListSet { margin-bottom:20px; }
.divtableArea01 .divtableListSet .divtableList > li { border-bottom:1px #e2e2e4 solid; padding:20px; }
.divtableArea01 .divtableListSet .divtableList > li .txt { font-size:20px; color:#292a2d; }
.divtableArea01 .divtableListSet .divtableList > li .innerList { overflow:hidden; margin-top:10px; }
.divtableArea01 .divtableListSet .divtableList > li .innerList > li { float:left; width:425px; }
.divtableArea01 .divtableListSet .divtableList > li .innerList > li > dl { overflow:hidden; margin-top:15px; }
.divtableArea01 .divtableListSet .divtableList > li .innerList > li > dl > dt { float:left; line-height:23px; }
.divtableArea01 .divtableListSet .divtableList > li .innerList > li > dl > dt > span { width:82px; display:inline-block; font-size:13px; color:#666; text-align:center; border:1px #d3d3d3 solid; border-radius:15px; }
.divtableArea01 .divtableListSet .divtableList > li .innerList > li > dl > dd { float:left; font-size:14px; color:#666; line-height:23px; padding-left:15px; }
.divtableArea01 .divtableListSet .divtableList > li .none { font-size:14px; color:#727476; text-align:center; padding:20px; }

/* MY카드 */
.myCardArea {}
.myCardArea .btnGroupMoTy1 { margin-top:60px; }
.myCardArea .signUpFlowList > li { width:130px; }
.myCardArea .signUpFlowList > li + li { margin-left:123px; }

.myCardArea .partArea {}
.myCardArea .partArea .partBox01,
.myCardArea .partArea .partBox02 { margin-top:50px; }

.txtList01 {}
.txtList01 + .txtList01 { margin-top:20px; }
.txtList01 > dt { position:relative; font-size:16px; color:#5b648a; font-weight:500; padding-left:12px; }
.txtList01 > dt:before{ content:''; position:absolute; top:10px; left:0; display:block; width:4px; height:4px; background:#5b648a; border-radius:50%; }
.txtList01 > dd{ font-size:14px; color:#727476; line-height:26px; padding:7px 12px; }
.txtList01 > dd .btn { padding-left:35px; }
.txtList01 > dd .btn button { margin-top:-4px; }
.txtList01 > dd .btn button + button { margin-left:5px; }

.myCardArea .partArea .partBox01 .btmTxt { font-size:14px; color:#727476; text-align:right; padding-top:5px; }
.txtBox01 { border:1px #e2e2e4 solid; padding:29px; }
.txtBox01 > ul { overflow:hidden; width:100%; }
.txtBox01 > ul > li { position:relative; float:left; text-align:center; padding-right:40px; }
.txtBox01 > ul > li:last-child { padding-right:0; margin-right:-80px; width:0; }
.txtBox01 > ul > li:before { content:''; position:absolute; top:45px; right:10px; width:18px; height:35px; background:url('../new_images/common/arrowStep.png') no-repeat; }
.txtBox01 > ul > li > .innerTxtBox { width:136px; height:126px; border:1px #e2e2e4 solid; }
.txtBox01 > ul > li > .innerTxtBox > dt { font-size:14px; color:#292a2d; padding-top:17px; }
.txtBox01 > ul > li > .innerTxtBox > dd { font-size:14px; color:#727476; line-height:18px; padding-top:12px; }
.txtBox01 > ul > li > .innerTxtBox > dd > span { display:block; }

.txtBox02 { border-top:2px #5b648a solid; border-left:1px #e2e2e4 solid; border-right:1px #e2e2e4 solid; border-bottom:1px #e2e2e4 solid; padding:28px 28px 0 28px; }
.innerTxtList01 {}
.innerTxtList01 > li { font-size:14px; color:#727476; line-height:24px; padding-bottom:30px; }
.checkBox01 { font-size:14px; color:#4e4f51; text-align:right; padding-top:20px; }

.partArea .signUpForm {}
.inpArea .bgcolorGray { background:#ebebeb; }

/* 입력 항목 */
.adressInput { display:table; width:100%; }
.adressInput > .ele { display:table-cell; vertical-align:top; height:43px; }
.adressInput > .ele .uiBtn { padding:0 10px; }
.adressInput > .ele.ty1 { width:490px; padding-right:10px; }
.adressInput > .ele.ty2 { width:490px; padding:0 10px 10px 0; }
.adressInput2 { display:table; width:100%; }
.adressInput2 > .ele { display:table-row; vertical-align:top; height:50px; }
.adressInput2 > .ele.ty1 { height:40px; }

.educationInput { display:table; width:100%; }
.educationInput > .ele { display:table-cell; vertical-align:top; height:43px; }
.educationInput > .ele.ty1 {width:170px; padding-right:15px; }
.educationInput > .ele.ty2 {width:170px; padding-right:15px; }
.educationInput > .ele.ty3 {width:150px;}
.educationInput > .ele input[type="text"],
.educationInput > .ele .selectBox  {width:100%;}

.radioInput .ui_radioBox { margin-right:-50px; }

/* info type */
.tblInfoTxt02, 
.tblInfoTxt04 { background-color:#f7f7f7; padding:25px 30px; text-align:left; }
.tblInfoTxt02 > ul > li,
.tblInfoTxt03 > ul > li,
.tblInfoTxt04 > ul > li { position:relative; font-size:12px; color:#727476; line-height:20px; padding-left:10px; }
.tblInfoTxt02 > ul > li:before,
.tblInfoTxt03 > ul > li:before,
.tblInfoTxt04 > ul > li:before { content:''; position:absolute; top:10px; left:0; width:2px; height:2px; background:#929495; border-radius:50%; }

.tblInfoTxt03 { margin-top:-20px; background-color:#f7f7f7; padding:20px 30px; }
.tblInfoTxt04 { border-top:1px #e2e2e4 solid; }

.tblInfoTxt02 .tit { font-size:14px; color:#727476; padding-bottom:5px; }

.tblInfoTxt05 { border:3px solid #e7e9f0; background:url(../new_images/common/pageComment2.png) no-repeat 45px 50%; padding:35px 20px 35px 120px; margin-top:30px; }
.tblInfoTxt05 > ul { display:inline-block; vertical-align:middle;}
.tblInfoTxt05 > ul > li { position:relative; font-size:14px; color:#767676; line-height:24px; padding-left:10px; }
.tblInfoTxt05 > ul > li:before { content:'-'; position:absolute; top:0; left:0; color:#929495; }
.tblInfoTxt05 > .guidBtnM { display:none; }

.txtBlack { color:#292a2d; }

/* MY카드- 실물 카드정보, 지원대상 */
.divTableArea02 { border-top:2px #727476 solid; }
.divTableArea02 .caption { font-size:0; }
.divTableArea02 .divTable { display: table; width: 100%; }
.divTableArea02 .divTable .divTableBody { display: table-row-group; }
.divTableArea02 .divTable .divTableRow { border-bottom:1px #e2e2e4 solid; }
.divTableArea02 .divTable .divTableRow .thCell { display: table-cell; vertical-align:middle; width:210px; font-size:14px; color:#222; background:#f0f0f2; padding:22px 0 22px 30px; }
.divTableArea02 .divTable .divTableRow .tdCell { display: table-cell; font-size:14px; color:#727476; line-height:34px; padding:22px 20px; }
.divTableArea02 .divTable .divTableRow .thCell02 { display: table-cell; vertical-align:middle; width:210px; font-size:14px; color:#222; background:#f0f0f2; padding:10px 0 10px 30px; }
.divTableArea02 .divTable .divTableRow .tdCell02 { display: table-cell; font-size:14px; color:#727476; line-height:34px; padding:10px 20px; }
.divTableArea02 .divTable .divTableRow .tdCell02 > ul { overflow:hidden; }
.divTableArea02 .divTable .divTableRow .tdCell02 > ul > li { float:left; }
.divTableArea02 .divTable .divTableRow .txt01 { font-size:12px; padding:10px 0 0 20px; margin-bottom:-20px; }
.divTableArea02 .divTable .divTableRow .inpArea { width:480px; }
.divTableArea02 .divTable .divTableRow .inpArea input[type="text"] {width:100%; }

.helpBtn { font-size:0; line-height:0; width:20px; height:23px; background:url(../new_images/common/icoHelp.jpg) no-repeat 0 0; margin-left:12px; }

.innerTableArea02 { padding:0 50px 30px 50px; background:#f7f7f7; margin-top:-5px; }
.innerTableArea02 .list { border-top:1px #d5d5d5 solid; }
.innerTableArea02 .list th { font-size:14px; color:#4e4f51; font-weight:400; background:#f0f0f2; padding:15px; border-right:1px #e2e2e4 solid; border-bottom:1px #e2e2e4 solid; }
.innerTableArea02 .list td { font-size:14px; color:#727476; text-align:center; background:#fff; padding:15px 20px; border-right:1px #e2e2e4 solid; border-bottom:1px #e2e2e4 solid; }
.innerTableArea02 .list th.last, .innerTableArea02 .list td.last { border-right:0; }
.innerTableArea02 .list .colW01 { width:210px; }

.txtIndent01 { text-indent:-68px; padding-left:68px; }

/* MY카드- 신용카드 체크카드 안내 */
.tableArea02 { border-top:2px #727476 solid; margin-top:30px; }
.tableArea02.ty2 { margin-top:0; }
.tableArea02 .view th { font-size:14px; color:#222; font-weight:400; padding:15px; background:#f0f0f2; border-bottom:1px #e2e2e4 solid; }
.tableArea02 .view td { font-size:14px; color:#4e4f51; line-height:24px; text-align:center; padding:15px; border-right:1px #e2e2e4 solid; border-bottom:1px #e2e2e4 solid; }
.tableArea02 .view .last { border-right:0; }
.tableArea02 .view .colW01 { width:59px; }
.tableArea02 .view .colW02 { width:90px; }
.tableArea02 .view .colW03 { width:150px; }
.tableArea02 .view .sTxt01 { font-size:12px; }

/* MY카드- 훈련과정 탐색 */
