@charset "utf-8";

/* ==============================
* common
* ============================== */
.commentBox {margin-top:20px; min-height:53px; padding:25px 25px 25px 100px; border:3px solid #e7e9f0; background:url(../new_images/common/pageComment2.png) no-repeat left 37px top 25px;}
.commentBox + .tableArea {margin-top:40px;}
.commentBox + form {margin-top:40px;}

.toolTipQ {display:inline-block; vertical-align:middle; width:26px; height:26px; background:url(../new_images/common/icoTooltipQ.jpg) no-repeat; cursor:pointer; background-size:cover;}
.iconTip {display:inline-block; width:45px; font-weight:500; font-size:20px; color:#fff; text-align:center; line-height:32px; background:#65646a;}
.rndBoxTxt {display:inline-block; min-width:170px; padding:0 10px; line-height:40px; text-align:center; border:2px solid #d3d3d3; border-radius:25px; font-size:26px; color:#727476; background:#fff;}

.titleFs30 {font-weight:500; font-size:30px; color:#292a2d; line-height:1.2;}
.titleFs30 > small {padding-left:5px; font-weight:normal; font-size:26px; color:#666;}
.titleFs32 {font-size:32px; color:#222; line-height:1.2;}

.moContInner {position: relative; padding:0 30px;}
.moContInner + .moContInner {margin-top:60px; padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner .btnGroupMoTy1 {padding: 0;}

.moContInner.ty2 {padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 + .moContInner.ty2 {}

.moContInner.ty3 {margin: 0 30px; padding:28px 0 40px 0; border-top:4px solid #727476; border-bottom:1px solid #e7e9f0;}
.moContInner.ty3 + .moContInner.ty3 {/*margin-top:40px;*/ border-top:0;}
.moContInner.ty3 .tit {padding-bottom: 33px; font-weight: 500; font-size: 32px; color: #222;}
.moContInner.ty3 .subTit {padding-bottom: 13px; font-size: 28px; color: #222;}
.moContInner.ty3 .inCont {}
.moContInner.ty3 .inCont + .inCont {margin-top: 36px;}

.contBoxType2 {padding:50px 30px; background:#f7f7f7;}
.underlineLink {/*text-decoration: underline;*/ color: #4171df;}

/* 모바일 전용 마진 */
.moMt60 {margin-top:60px;}
.moMt80 {margin-top:80px;}


/* ==============================
* common - 
* ============================== */



/*테이블 상단 필수표시 단독 케이스*/
.essSingle {padding: 20px 30px 25px 30px; text-align: right; font-size: 22px; color: #727476;}


.mRadioList {font-size: 0;}
.mRadioList > li {display: inline-block; vertical-align: top; margin-top: 20px;}
.mRadioList > li .ui_radioBox {line-height: normal;}
.mRadioList.col2 > li {width: 50%;}
.mRadioList.col2 > li:nth-child(-n + 2) {margin-top: 0;}





/*검색 영역*/

.schDom {padding: 60px 70px; border-top: 8px solid #d8dfeb; border-bottom: 8px solid #d8dfeb;}
.schDom.top {margin-top: 15px;}



.schDom.top {margin-top: 100px;}



.schDomCont {font-size: 0; text-align: left;}
.schDomCont + .schDomCont {margin-top: 32px;}
.schDomCont > .ele .selectBox,
.schDomCont > .ele input[type="text"],
.schDomCont > .ele input[type="pass"] {display: block; width: 100%;}
.schDomCont > .tit {display: block; padding-bottom: 26px; font-weight: 500; font-size: 32px; color: #292a2d; line-height: 40px;}
.schDom > .btnGroup {margin-top: 40px;}
.schDom > .btnGroup .btnType3 {width: 100%; height: 70px; font-size: 28px;}


.dateDom {font-size: 0;}
.dateDom > .dateSelect {position: relative; display: inline-block; width: calc(50% - 20px); vertical-align: top;}
.dateDom > .dateSelect + .dateSelect {margin-left: 40px;}
.dateDom > .dateSelect + .dateSelect:before {content: '~'; position: absolute; left: -40px; width: 40px; text-align: center; line-height: 70px; font-size: 28px; color: #727476;} 
.dateDom > .dateSelect input[type="text"] {width: 100%;}
.dateDom > .dateSelect input[type="text"] + img {position: absolute; top: 17px; right: 21px; width: 38px; height: 36px;}
.dateDom > .dateSelect .btn_calendar {position: absolute; top: 50%; right: 21px; margin-top: -19px; width: 38px; height: 36px; background: url(../new_images/common/icocalendar_m.png) }
.dateDom + .dateRangePick {margin-top: 20px;}

.dateRangePick {font-size: 0;}
.dateRangePick > button {position: relative; display: inline-block; vertical-align: top; width: calc(33% + 1px); height: 70px; border: 1px solid #cdcdd1; text-align: center; font-size: 28px; color: #4e4f51;}
.dateRangePick > button:first-child {width: 34%;}
.dateRangePick > button + button {margin-left: -1px;}
.dateRangePick > button.on {z-index: 1; color: #4171df; border: 1px solid #4171df;}

.mBtnDom {margin-top: 40px; text-align: right;}





/*통합검색*/
.esList {border-top: 4px solid #727476; margin: 0 30px;}
.esList > li {border-bottom: 1px solid #e2e2e4; padding: 35px 20px;}
.esList > li > .inner {}

.esCont {}
.esCont.c1 {}
.esCont.c1 + .esCont.c2 {margin-top: 15px;}
.esName { font-size: 28px; color: #4e4f51; word-break: keep-all; line-height: 32px; word-wrap: break-word;}
.esName + .esCamDom {padding-top: 20px;}
.esCamDom {font-size: 0;}
.esCamDom + .esCert {padding-top: 16px;}

.esCont.c2 {}
.esTit {}
.esTit > a {display: block; font-size: 32px; color: #292a2d; line-height: 1; vertical-align: middle; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.esTit > a + .icoCam {margin-left: 20px;}
.esHash {margin-top: 23px; font-size: 0;}

.esHash > .hashs { display: inline-block; margin: 0 10px 10px 0; font-size: 20px; min-width:40px; line-height:36px; padding:0 4px; border:2px solid #d3d3d3; border-radius:4px; text-align:center; box-sizing:border-box; }
.esHash > .hashs + .iconTip {margin-left: 10px;}
.esHash + .esInfo {margin-top: 10px;}
.esTit + .esInfo {margin-top: 20px;}
.esInfo {font-size: 0;}
.esInfo + .esInfo {margin-top: 20px;}
.esInfoCont {font-size: 0;}
.esInfoCont + .esInfoCont {margin-top: 16px;}
.esInfoCont > .tit {position: relative; display: inline-block; vertical-align: top; width: 120px; font-size: 28px; color: #727476; line-height: 32px;}
.esInfoCont > .tit.long {width: 152px;}
.esInfoCont > .esIn {position: relative; display: inline-block; width: calc(100% - 120px); vertical-align: top; padding-left: 20px; font-size: 28px; color: #727476; line-height: 32px;}
.esInfoCont > .esIn:before {content: ''; position: absolute; top: 6px; left: 0; height: 24px; border-right: 2px solid #e2e2e4;}
.esInfoCont > .tit.long + .esIn {width: calc(100% - 152px);}
.esInfoCont > .esIn.sGuage {height: 20px; font-size: 0;}
.esInfoCont > .esIn.cGuage {position: relative; display: block; width: 100%; height: 32px; margin-top: 22px; padding-left: 0; font-size: 0;}
.esInfoCont > .esIn.cGuage:before {content: none;}

.esTit + .esSubTxt {margin-top: 27px;}
.esSubTxt {font-size: 0;}
.esSubTxt > .tit,
.esSubTxt > .esIn {display: inline-block; vertical-align: top;}
.esSubTxt > .tit {position: relative; display: inline-block; vertical-align: top; width: 120px; font-size: 28px; color: #727476; line-height: 32px;}
.esSubTxt > .esIn {position: relative; display: inline-block; width: calc(100% - 120px); vertical-align: top; padding-left: 20px; font-size: 28px; color: #727476; line-height: 32px;}
.esSubTxt > .esIn:before {content: ''; position: absolute; top: 6px; left: 0; height: 24px; border-right: 2px solid #e2e2e4;}
.esSubTxt + .esInfo {margin-top: 16px;}

.esCont.c3 {padding-top: 35px; font-size: 0;}
.esCnt {display: inline-block; vertical-align: middle; font-size: 30px; color: #292a2d; line-height: 1;}
.esUnit {display: inline-block; vertical-align: middle; margin-left: 8px; font-size: 30px; color: #727476; line-height: 1;}
.esCnt + .esUnit {}

.esCngDom2 {display: inline-block; vertical-align: middle; font-size: 0;}
.esCnt + .btnViewLink {margin-left: 38px; vertical-align: middle;}
.esCngDom2 + .rndTxt {vertical-align: middle; margin-left: 25px;}

.icoCam {display: inline-block; vertical-align: middle; width: 33px; height: 30px; background: url(../new_images/common/icoCertify.png) no-repeat;}
.rndTxt {display: inline-block; min-width: 48px; padding: 0 10px; line-height: 38px; font-weight: 700; font-size: 18px; color: #fff; text-align: center; border-radius: 25px;}
.rndTxt.ty1 {background: #f68b2e;}
.rndTxt.ty2 {background: #4870cf;}

.acaLv {font-size: 28px; color: #727476; line-height: 32px;}
.acaLv > span + span:before {content: ' / ';}

.starGuage {position: relative; display: inline-block; vertical-align: middle; width: 212px; height: 34px; background: url(../new_images/common/icoStarM.png) no-repeat;  }
.starGuage > .per {position: absolute; top: 0; left: 0; height: 34px; overflow: hidden; text-indent: -9999px; background: url(../new_images/common/icoStarM.png) no-repeat left center; background-position: 0 -34px;}
.esCngDom {position: relative; vertical-align: middle;}
.colorGauge {position: relative; display: inline-block; vertical-align: middle; width: calc(100% - 66px); height: 32px; background: #d8dfeb; overflow: hidden;}
.cgBar {position: absolute; top: 0; left: 0; height: 32px; padding-right:15px; text-align: right; font-size: 20px; color: #fff; border-radius:0 25px 25px 0; line-height: 32px;}
.cgBar {
    background: #7d9eec; /* Old browsers */
    background: -moz-linear-gradient(left,  #7d9eec 0%, #4171df 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #7d9eec 0%,#4171df 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #7d9eec 0%,#4171df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d9eec', endColorstr='#4171df',GradientType=1 ); /* IE6-9 */
}
.colorGauge + .iconTip {margin-left: 21px; vertical-align: middle;}

.btnViewLink {display: inline-block; min-width: 220px; padding: 0 15px; text-align: center; font-weight: 300; font-size: 26px; color: #666; line-height: 44px; border: 2px solid #d3d3d3;}
.btnViewLink:after {content: ''; position: relative; top: -3px; display: inline-block; vertical-align: middle; margin-left: 10px; width: 7px; height: 11px; background: url(../new_images/common/arrowGoLink02.png) no-repeat; background-size: 100% 100%;}

.moDpNone {display: none !important;}



