@charset "utf-8";

/* ==============================
* common
* ============================== */
.commentBox {min-height:53px; padding:30px 20px 30px 125px; border:3px solid #e7e9f0; background:url(../new_images/common/pageComment2.png) no-repeat left 46px center;}
.commentBox .dashList {display:inline-block; vertical-align:middle;}
.commentBox + .bigTitle02 {margin-top:62px;}

.dashList {}
.dashList > li {position:relative; padding-left:9px; font-size:14px; color:#767676; line-height:18px;}
.dashList > li:before {content:''; position:absolute; top:9px; left:0; width:4px; border-bottom:1px solid #767676;}
.dashList > li + li {margin-top:4px;}

.listType1 {}
.listType1 > li {font-size:26px; color:#727476;}
.listType1 > li  + li {margin-top:20px;}
.listType1 > li .rndBoxTxt {margin-right:15px;}
.listType1 + .btnH60Group {margin-top:50px;}

.flexMiddle {display:flex; align-items: center; justify-content: center; padding:0 8px 0 20px;}
.heightAuto {min-height:0 !important;}

.itemHash {display:inline-block; line-height:26px; padding:0 12px; margin-right:15px; border-radius:4px; color:#222; font-size:11px; background-color:#e3e7ee; font-weight:300;}
.toolTipQ {display:inline-block; vertical-align:middle; width:20px; height:20px; background:url(../new_images/common/icoTooltipQ.jpg) no-repeat; cursor:pointer; background-size:cover;}
.iconTip {display:inline-block; width:45px; font-weight:500; font-size:20px; color:#fff; text-align:center; line-height:32px; background:#65646a;}

.bgType1 {background:#f0f0f2 !important;}

.titleFs32 {font-size:32px; color:#222; line-height:1.2;}
.titleFs30 {font-weight:500; font-size:30px; color:#292a2d; line-height:1.2;}
.titleFs30 > small {padding-left:5px; font-weight:normal; font-size:26px; color:#666;}

.moContInner {padding:0 30px;}
.moContInner + .moContInner {margin-top:60px; padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 {padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 + .moContInner.ty2 {}

.contBoxType2 {padding:50px 30px; background:#f7f7f7;}

.rndBoxTxt {display:inline-block; min-width:170px; padding:0 10px; line-height:40px; text-align:center; border:2px solid #d3d3d3; border-radius:25px; font-size:26px; color:#727476; background:#fff;}

/* ==============================
* common
* ============================== */
.pcBtnPt30 {padding-top:30px;}
.bold {font-weight:500;}



/* ==============================
* common - btn
* ============================== */








/* 통합검색 */
.totalSchRstTitle {text-align:center; font-size:26px; color:#4e4f51; line-height:1;}
.totalSchRstTitle > .kwd {font-weight:500; font-size:32px; color:#258384}

.schTabListWrap {margin-top:50px;}
.schTabList {display:table; width:100%; table-layout:fixed; border-top:1px solid #f6f6f6;}
.schTabList > li {display:table-cell; vertical-align:middle;}
.schTabList > li a {position:relative; display:block; padding-top:15px; text-align:center; font-size:18px; color:#65646a; line-height:24px;}
.schTabList > li a.on {font-weight:500; color:#3d5895}
.schTabList > li a.on:before {content:''; position:absolute; top:-1px; left:0; width:100%; border-bottom:4px solid #3d5895;}

.schEduCont {margin-top:50px;}
.schEduCont + .schEduCont {}
.schEduCont > .more {margin-top:20px; font-size:0; text-align:right;}
#subContentWrap .subContArea .schEduCont .qnaArea {padding-top:0;}

.schEduContHead {padding-bottom:14px;}
.schEduContHead:after {content:''; display:block; clear:both;}
.schEduContHead .leftGroup {display:inline-block;}
.schEduContHead .leftGroup .title {display:inline-block; vertical-align:middle; font-weight:500; font-size:26px; color:#292a2d;}
.schEduContHead .leftGroup .toolTipQ {margin-left:10px;}
.schEduContHead .leftGroup .txtCases {display:inline-block; vertical-align:middle; margin-left:5px; font-size:14px; color:#666;}
.schEduContHead .leftGroup .txtCases em {color:#f48b2f;}
.schEduContHead > .boxLinkList {float:right; margin-top:8px;}

.boxLinkList {display:inline-block; overflow:hidden;}
.boxLinkList > li {position:relative; float:left; width:110px; border:1px solid #cdcdd1; background:#fff;}
.boxLinkList > li + li {margin-left:-1px;}
.boxLinkList > li > a {display:block; text-align:center; font-size:14px; color:#727476; line-height:28px;}
.boxLinkList > li.on {z-index:1; border:1px solid #4171df;}
.boxLinkList > li.on > a {color:#4171df;}

.detailListTy2 {}
.detailListTy2 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy2 > li .tit {font-size:0;}
.detailListTy2 > li .tit > * {vertical-align:middle;}
.detailListTy2 > li .tit a {display:inline-block; font-size:20px; color:#292a2d;}
.detailListTy2 > li .tit .ih.verPC {overflow:hidden; display:inline-block !important;}
.detailListTy2 > li .tit .itemHash {float:left; margin-left:15px;}
.detailListTy2 > li .tit .itemHash.verPC {}
.detailListTy2 > li .txt01 {padding-top:20px; font-size:14px; color:#292a2d;}
.detailListTy2 > li .txt02 {padding-top:7px; font-size:14px; color:#666; line-height:24px;}




/* 마이 정보 */
.idNumEle {display:table; width:350px; table-layout:fixed;}
.idNumEle > div {display:table-cell; vertical-align:middle;}
.idNumEle > .ele1 {width:160px;}
.idNumEle > .ele2 {width:30px; line-height:40px; text-align:center;}

.nBox {margin-top:60px; border:3px solid #e2e2e4; padding:38px;}
.nBoxDl > dt {padding-bottom:20px; font-weight:500; font-size:16px; color:#4e4f51;}
.nBoxDl > dd {position:relative; padding-left:18px; font-size:14px; color:#767676; line-height:22px;}
.nBoxDl > dd:before {content:''; position:absolute; top:9px; left:0; width:4px; border-bottom:4px solid #767676; border-radius:50%;}
.nBoxDl > dd + dd {margin-top:13px;}
.nBoxDl > dd.red {color:#93480f;}
.nBoxDl > dd .point {color:#292a2d;}

.addrCont {max-width:480px;}
.addrCont input[type="text"] {width:100%;}
.addrCont .addrContEle {margin-top:10px;}

.smAtgChk {}
.smAtgChk > .txt {}
.smAtgChk > .smAtgChkbox {padding-top: 17px;  ext-align:right;}