@charset "utf-8";

/* ==============================
* common
* ============================== */
.commentBox {margin-top:20px; min-height:53px; padding:25px 25px 25px 100px; border:3px solid #e7e9f0; background:url(../new_images/common/pageComment2.png) no-repeat left 37px top 25px;}
.commentBox + .tableArea {margin-top:40px;}
.commentBox + form {margin-top:40px;}

.toolTipQ {display:inline-block; vertical-align:middle; width:26px; height:26px; background:url(../new_images/common/icoTooltipQ.jpg) no-repeat; cursor:pointer; background-size:cover;}
.iconTip {display:inline-block; width:45px; font-weight:500; font-size:20px; color:#fff; text-align:center; line-height:32px; background:#65646a;}
.rndBoxTxt {display:inline-block; min-width:170px; padding:0 10px; line-height:40px; text-align:center; border:2px solid #d3d3d3; border-radius:25px; font-size:26px; color:#727476; background:#fff;}

.titleFs30 {font-weight:500; font-size:30px; color:#292a2d; line-height:1.2;}
.titleFs30 > small {padding-left:5px; font-weight:normal; font-size:26px; color:#666;}
.titleFs32 {font-size:32px; color:#222; line-height:1.2;}

.moContInner {position: relative; padding:0 30px;}
.moContInner + .moContInner {margin-top:60px; padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 {padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 + .moContInner.ty2 {}

.moContInner.ty3 {margin: 0 30px; padding:28px 0 40px 0; border-top:4px solid #727476; border-bottom:1px solid #e7e9f0;}
.moContInner.ty3 + .moContInner.ty3 {/*margin-top:40px;*/ border-top:0;}
.moContInner.ty3 .tit {padding-bottom: 33px; font-weight: 500; font-size: 32px; color: #222;}
.moContInner.ty3 .subTit {padding-bottom: 13px; font-size: 28px; color: #222;}
.moContInner.ty3 .inCont {}
.moContInner.ty3 .inCont + .inCont {margin-top: 36px;}

.contBoxType2 {padding:50px 30px; background:#f7f7f7;}

/* 모바일 전용 마진 */
.moMt60 {margin-top:60px;}
.moMt80 {margin-top:80px;}


/* ==============================
* common - 
* ============================== */


/* ==============================
* 비콘
* ============================== */
.attendCont {position:relative; padding:40px 0; border:2px solid #e2e2e4; border-top:0;}
.attendCont > .inner {display:table; width:100%; table-layout:fixed;}
.attendCont > .inner .ele {display:table-cell; vertical-align:middle;}
.attendCont .ele.state {width:224px; text-align:center;}
.attendCont .ele.name {padding-left:30px; padding-right:30px; font-size:32px; color:#292a2d; line-height:34px;}
.attendCont .ele.state + .ele.name {padding-left:0;}
.attendCont > .dotBtn {position:absolute; right:28px; bottom:14px;}
.attendChk {display:inline-block; width:140px; height:140px; text-align:center; line-height:140px; border-radius:50%; font-weight:500; font-size:28px; color:#fff;}
.attendChk.ty1 {background:#5b648a;}
.attendChk.ty2 {background:#4171df;}

.attendStateCont {margin-top:24px; padding:25px 0; border:2px solid #e2e2e4; text-align:center;}
.attendDp {display:inline-block; font-size:0; text-align:center;}
.attendDp > li {display:inline-block; width:72px;}
.attendDp > li + li {margin-left:42px;}
.attendDp > li .cnt {display:block; border-radius:50%; text-align:center; line-height:72px; font-weight:500; font-size:36px; color:#fff; background:#5b648a;}
.attendDp > li .txt {display:block; margin-top:16px; font-weight:500; font-size:24px; color:#292a2d; line-height:1;}

.attendProgress {}
.attendProgress > li {}
.attendProgress > li + li {padding-top:40px; margin-top:40px; border-top:2px solid #e2e2e4;}
.attendProgress > li .tblEle {padding-bottom:20px;}
.attendProgress > li .titEle {width:195px;}
.attendProgress > li .attendDate {font-size:26px; color:#727476;}
.attendProgress > li .attendDate > strong {font-weight:500; color:#258384;}
.attendProgress > li .attendBar {line-height:1;}
.attendProgress > li .attendNoti {padding-top:20px; line-height:1; font-size:22px; color:#727476;}

.btnSlideView {display:block; width:100%; text-align:center; font-size:24px; color:#333;}
.btnSlideView > span {vertical-align:middle;}
.btnSlideView:after {content:''; display:inline-block; margin-left:18px; vertical-align:middle; width:36px; height:36px; background:url(../new_images/common/btnMore.png) no-repeat; transform: rotate(180deg); transition:0.5s;}
.btnSlideView.on:after {transform: rotate(0deg);}

.qrArea {position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:#000;}
.qrAreaTit {padding:0 20px; line-height:110px; font-weight:500; font-size:36px; color:#292a2d; border-bottom:2px solid #f4f4f4; text-align:center; background:#fff;}
.qrAreaTit {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.qrArea .desc {text-align:center; font-weight:500; font-size:26px; color:#727476; background:#fff; letter-spacing:-1px; line-height:80px;}
.qrAreaCross {height:calc(100% - 190px); background:url(../new_images/common/icoQrCross.png) no-repeat center center;}


/* 달력 */
[data-calendar] {margin-top:20px; }
[data-calendar] .calendar_header {text-align:center;}
[data-calendar] .calendar_tit {padding:15px; background:#ca0464; font-size:30px; line-height:1.2; color:#fff;}
[data-calendar] .calendar_info {display:table; position:relative; width:100%; height:80px; background:#e7e9f0;}
[data-calendar] .calendar_info .date {display:table-cell; font-size:30px; line-height:1.2; vertical-align:middle; color:#333;}
[data-calendar] .calendar_info .ctr button {overflow:hidden; position:absolute; top:50%; width:12px; height:24px; margin-top:-12px; text-indent:-9999px;}
[data-calendar] .calendar_info .ctr .prev {left:30px;}
[data-calendar] .calendar_info .ctr .prev:before {content:''; position:absolute; top:0; left:0; border-right: 12px solid #727476; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .prev:after {content:''; position:absolute; top:0; left:3px; border-right: 12px solid #e7e9f0; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .next:before {content:''; position:absolute; top:0; right:0; border-left: 12px solid #727476; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .next:after {content:''; position:absolute; top:0; right:3px; border-left: 12px solid #e7e9f0; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .next {right:30px;}
[data-calendar-table] {padding:30px 0; border: 2px solid #e2e2e4; border-top:0;}
[data-calendar-table] table {border:0;}
[data-calendar-table] td {position:relative; height:85px; vertical-align:top; text-align: center;}
[data-calendar-table] td .num {display:inline-block; width:45px; font-size:20px; line-height:48px; border-radius:50%;}
[data-calendar-table] td.today .num {background:#536acd; color:#fff;}
[data-calendar-table] td .msg {padding-top:8px; font-weight:500; font-size:22px; line-height:1; color: #5b648a;}


/* 통합검색 */
.totalSchRstTitle {padding:0 30px; text-align:center; font-size:36px; color:#4e4f51; line-height:1;}
.totalSchRstTitle > .kwd {font-weight:500; font-size:40px; color:#258384}

.schTabListWrap {padding:0 30px 40px 30px; margin-top:75px;}
.schTabList {overflow:hidden; /* border-top:1px solid #f6f6f6; */}
.schTabList > li {float:left; width:33%; border:1px solid #f6f6f6;}
.schTabList > li + li {border-left:0;}
.schTabList > li:nth-child(3n + 1) {width:34%; border-left:1px solid #f6f6f6;}
.schTabList > li:nth-child(n + 4) {margin-top:-1px;}
.schTabList > li a {position:relative; display:block; text-align:center; font-size:28px; color:#65646a; line-height:80px;}
.schTabList > li a.on {font-weight:500; color:#3d5895}
.schTabList > li a.on:before {content:''; position:absolute; top:-1px; left:0; width:100%; border-bottom:8px solid #3d5895;}

.schEduCont {margin-top:50px;}
.schEduCont + .schEduCont {margin-top:60px; padding-top:50px; border-top:6px solid #e1e4e9;}
.schEduCont > .more {padding:0 30px; margin-top:30px; font-size:0; text-align:right;}
#subContentWrap .subContArea .schEduCont .qnaArea {padding-top:0;}
.schEduCont .detailListWrap.mtetc {margin-top:0;}

.schEduContHead {padding:0 30px; padding-bottom:14px;}
.schEduContHead:after {content:''; display:block; clear:both;}
.schEduContHead .leftGroup {padding-bottom:2px;}
.schEduContHead .leftGroup .title {display:inline-block; vertical-align:middle; font-weight:500; font-size:30px; color:#292a2d;}
.schEduContHead .leftGroup .toolTipQ {margin-left:10px;}
.schEduContHead .leftGroup .txtCases {display:inline-block; vertical-align:middle; margin-left:5px; font-size:26px; color:#666;}
.schEduContHead .leftGroup .txtCases em {color:#f48b2f;}
.schEduContHead > .boxLinkList {margin-top:38px;}

.boxLinkList {text-align:center; font-size:0;}
.boxLinkList > li {display:inline-block; vertical-align:top; width:164px; border:1px solid #cdcdd1; background:#fff; margin-bottom:20px;}
.boxLinkList > li + li {margin-left:20px;}
.boxLinkList > li:nth-child(4n) {margin-left:0;}
.boxLinkList > li > a {display:block; text-align:center; font-size:28px; color:#727476; line-height:60px;}
.boxLinkList > li.on {z-index:1; border:1px solid #4171df;}
.boxLinkList > li.on > a {color:#4171df;}

.detailListTy2 {}
.detailListTy2 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy2 > li .tit {font-size:0;}
.detailListTy2 > li .tit > * {vertical-align:middle;}
.detailListTy2 > li .tit a {display:inline-block; font-size:30px; color:#292a2d;}
.detailListTy2 > li .tit a.etc {font-weight:500;}
.detailListTy2 > li .tit .itemHash {margin-left:15px;}
.detailListTy2 > li .txt01 {padding-top:20px; font-size:28px; color:#727476; overflow:hidden; line-height:34px;}
.detailListTy2 > li .txt02 {padding-top:11px; font-size:24px; color:#727476; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.detailListTy2 > li .txt03 {padding-top:8px; font-size:28px; color:#4e4f51; line-height:34px;}
.detailListTy2 .tag { display:inline-block; }
.detailListTy2 .tag.verM { display:inline-block !important; margin-left:15px; }
.detailListTy2 .tag:after { content:''; display:block; clear:both; }
.detailListTy2 .tag li { float:left; margin-left:10px; font-size:20px; }
.detailListTy2 .tag li:first-child { margin-left:0; }
.detailListTy2 .tag li.border { box-sizing:border-box; min-width:40px; line-height:40px; padding:0 4px; border:1px solid #d3d3d3; border-radius:4px; text-align:center; }
.detailListTy2 .tag li.fill { box-sizing:border-box; min-width:45px; line-height:32px; background-color:#65646a; color:#fff; text-align:center }
.detailListTy2 .tag li.tip { margin-top:5px; margin-left:20px; }
.detailListTy2 .tag + .iconTip {display:inline-block !important; margin-left:20px;}

.detailListTy3 {}
.detailListTy3 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy3 > li .subtit {padding-bottom:8px; font-size:24px; color:#727476;}
.detailListTy3 > li .tit a {display:block; font-size:30px; color:#292a2d; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.detailListTy3 > li .tit .itemHash {margin-left:15px;}
.detailListTy3 > li .date {padding-top:4px; font-size:24px; color:#727476;}
.detailListTy3 > li .smallList {margin-top:20px;}

.detailListTy4 {}
.detailListTy4 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy4 > li .subtit {padding-bottom:9px; font-size:26px; color:#292a2d; line-height:1;}
.detailListTy4 > li .tit a {display:block; font-size:30px; color:#292a2d; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all; line-height:1;}
.detailListTy4 > li .cl {padding-top:22px; font-size:24px; color:#727476;}
.detailListTy4 > li .st {padding-top:6px; font-size:0;}
.detailListTy4 > li .st > .el {position:relative; display:inline-block; vertical-align:middle; font-size:24px; color:#727476; line-height:27px;}
.detailListTy4 > li .st > .el + .el {padding-left:10px; margin-left:10px; border-left:1px solid #727476;}
.detailListTy4 > li .st > .el.fs + .el {border-left:0;}
.detailListTy4 > li .st > .el.fs + .el:before {content:''; position:absolute; top:50%; left:0; margin-top:-10px; height:20px; border-left:1px solid #ececef;}
.detailListTy4 > li .co {padding-top:6px; font-size:24px; color:#727476;}
.detailListTy4 > li .pay {padding-top:30px; font-size:0;}
.detailListTy4 > li .pay > span {display:inline-block; vertical-align:middle;}
.detailListTy4 > li .pay > .pay01 {font-size:30px; color:#292a2d;}
.detailListTy4 > li .pay > .lo {margin-left:25px; padding:0 15px; font-weight:500; font-size:18px; color:#fff; line-height:38px; background:#4870cf; border-radius:25px;}

.smallList {margin-top:30px;}
.smallList > .smlCont {display:table; width:100%; table-layout:fixed;}
.smallList > .smlCont + .smlCont {margin-top:18px;}
.smallList > .smlCont > span {position:relative; display:table-cell; vertical-align:top; font-size:28px; color:#727476; line-height:32px; text-align:left;}
.smallList > .smlCont > span + span {padding-left:20px;}
.smallList > .smlCont > span + span:before {content:''; position:absolute; top:6px; left:0; height:24px; border-left:1px solid #e2e2e4;}

.latestViewList {padding:5px 30px 0 30px;}
.latestViewList > li {padding:20px;}
.latestViewList > li + li {border-top:1px solid #f2f4f6;}
.latestViewList > li a {display:block; font-size:28px; color:#727476; line-height:1; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}

.listType1 {}
.listType1 > li {font-size:26px; color:#727476;}
.listType1 > li  + li {margin-top:20px;}
.listType1 > li .rndBoxTxt {margin-right:15px;}
.listType1 + .btnH60Group {margin-top:50px;}

.dashList {}
.dashList > li {position:relative; padding-left:14px; font-size:22px; color:#727476; line-height:26px;}
.dashList > li:before {content:''; position:absolute; top:13px; left:0; width:6px; border-bottom:2px solid #727476;}

.dlType1 {}
.dlType1 > dt {padding-bottom: 8px; font-weight: 500; font-size: 22px; color: #292a2d; text-align: left;}
.dlType1 > dd {font-size: 22px; color: #727476; line-height: 30px; text-align: left; word-break: keep-all;}
.dlType1 > dd br {display: none;}
.dashList > li + li {margin-top:8px;}

.nBox {margin-top:70px; border:1px solid #e2e2e4; padding:30px;}
.nBoxDl + .nBoxDl {margin-top: 32px;}
.nBoxDl > dt {padding-bottom:35px; font-weight:500; font-size:32px; color:#292a2d;}
.nBoxDl > dd {position:relative; padding-left:23px; font-size:26px; color:#727476; line-height:36px;}
.nBoxDl > dd:before {content:''; position:absolute; top:13px; left:0; width:8px; border-bottom:8px solid #727476; border-radius:50%;}
.nBoxDl > dd + dd {margin-top:13px;}
.nBoxDl > dd.red {color:#93480f;}
.nBoxDl > dd .point {color:#292a2d;}
.bold {font-weight: 500;}

.mapArea {padding:40px 30px 60px 30px;}


/*마이정보*/
.inpFile{display:inline-block;}
.inpFile [type="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:none;}
.inpFile .file-label {min-width:112px; display:inline-block; height:60px; line-height:56px; text-align:center; border:1px solid #fff; background:#fff; font-weight:500; font-size:24px; color:#4e4f51; border:2px solid #cdcdd1;}

.fileAddEle {margin: 27px 30px 80px 30px; padding: 10px 0 40px 0; border-bottom: 1px solid #e2e2e4;}
.fileAddEle > .inner {}
.fileAddEle .fileAddCont {position: relative;}
.fileAddEle .fileAddCont.ig {display: none;}
*.fileAddEle .fileAddCont.ig .imgRdy {display: inline-block; padding: 10px;}
*.fileAddEle .fileAddCont.ig .imgRdy img {max-width: 100%;}

.fileAddEle .fileAddCont + .fileAddCont {}
.fileAddEle .fileAddCont .plugin {margin-top: 35px; border: 4px solid #e2e2e4; background: #fff;}
.fileAddEle .options {padding: 25px; background: #f7f7f7}
.fileAddEle .options .btns {padding-bottom: 25px; font-size: 0; text-align: center;}
.fileAddEle .options .btns > * {vertical-align: top; width: 160px; padding: 0;}
.fileAddEle .options .btns > * label {width: 160px;}
.fileAddEle .options .btns > * + * {margin-left: 20px;}
.fileAddEle .options .btns > .btnH60.ty1 {width: 170px;}
.addFileList {}
.addFileList > li {overflow: hidden;}
.addFileList > li + li {margin-top:10px;}
.addFileList > li .ui_checkBox label {margin-right: 0;}
.addFileList > li .byte {padding-top: 9px; float: right; font-size: 22px; color: #727476;}
.addFileList > li .btnCloseCross {margin-left: 8px;}

.addrCont {}
.addrCont input[type="text"] {width:100%;}
.addrCont .addrContEle {margin-top:20px;}

.smAtgChk {}
.smAtgChk > .txt {}
.smAtgChk > .smAtgChkbox {padding-top: 30px;}

.moPwChg {padding: 0 20px 40px 20px; border-bottom: 1px solid #e2e2e4;}
.moPwChg > input {display: block; width: 100%;}
.moPwChg > input + input {margin-top: 20px;}


/*테이블 상단 필수표시 단독 케이스*/
.essSingle {padding: 20px 30px 25px 30px; text-align: right; font-size: 22px; color: #727476;}
