@charset "utf-8";

/* ==============================
* common
* ============================== */
.commentBox {margin-top:20px; min-height:53px; padding:25px 25px 25px 100px; border:3px solid #e7e9f0; background:url(../new_images/common/pageComment2.png) no-repeat left 37px top 25px;}
.commentBox + .tableArea {margin-top:40px;}
.commentBox + form {margin-top:40px;}

.toolTipQ {display:inline-block; vertical-align:middle; width:26px; height:26px; background:url(../new_images/common/icoTooltipQ.jpg) no-repeat; cursor:pointer; background-size:cover;}
.iconTip {display:inline-block; width:45px; font-weight:500; font-size:20px; color:#fff; text-align:center; line-height:32px; background:#65646a;}
.rndBoxTxt {display:inline-block; min-width:170px; padding:0 10px; line-height:40px; text-align:center; border:2px solid #d3d3d3; border-radius:25px; font-size:26px; color:#727476; background:#fff;}

.titleFs30 {font-weight:500; font-size:30px; color:#292a2d; line-height:1.2;}
.titleFs30 > small {padding-left:5px; font-weight:normal; font-size:26px; color:#666;}
.titleFs32 {font-size:32px; color:#222; line-height:1.2;}

.moContInner {position: relative; padding:0 30px;}
.moContInner + .moContInner {margin-top:60px; padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner .btnGroupMoTy1 {padding: 0;}

.moContInner.ty2 {padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 + .moContInner.ty2 {}

.moContInner.ty3 {margin: 0 30px; padding:28px 0 40px 0; border-top:4px solid #727476; border-bottom:1px solid #e7e9f0;}
.moContInner.ty3 + .moContInner.ty3 {/*margin-top:40px;*/ border-top:0;}
.moContInner.ty3 .tit {padding-bottom: 33px; font-weight: 500; font-size: 32px; color: #222;}
.moContInner.ty3 .subTit {padding-bottom: 13px; font-size: 28px; color: #222;}
.moContInner.ty3 .inCont {}
.moContInner.ty3 .inCont + .inCont {margin-top: 36px;}

.contBoxType2 {padding:50px 30px; background:#f7f7f7;}
.underlineLink {/*text-decoration: underline;*/ color: #4171df;}

/* 모바일 전용 마진 */
.moMt60 {margin-top:60px;}
.moMt80 {margin-top:80px;}


/* ==============================
* common - 
* ============================== */



/*테이블 상단 필수표시 단독 케이스*/
.essSingle {padding: 20px 30px 25px 30px; text-align: right; font-size: 22px; color: #727476;}


.mRadioList {font-size: 0;}
.mRadioList > li {display: inline-block; vertical-align: top; margin-top: 20px;}
.mRadioList > li .ui_radioBox {line-height: normal;}
.mRadioList.col2 > li {width: 50%;}
.mRadioList.col2 > li:nth-child(-n + 2) {margin-top: 0;}





/*검색 영역*/

.schDom {padding: 60px 70px; border-top: 8px solid #d8dfeb; border-bottom: 8px solid #d8dfeb;}
.schDom.top {margin-top: 15px;}



.schDom.top {margin-top: 100px;}



.schDomCont {font-size: 0; text-align: left;}
.schDomCont + .schDomCont {margin-top: 32px;}
.schDomCont > .ele .selectBox,
.schDomCont > .ele input[type="text"],
.schDomCont > .ele input[type="pass"] {display: block; width: 100%;}
.schDomCont > .tit {display: block; padding-bottom: 26px; font-weight: 500; font-size: 32px; color: #292a2d; line-height: 40px;}
.schDom > .btnGroup {margin-top: 40px;}
.schDom > .btnGroup .btnType3 {width: 100%; height: 70px; font-size: 28px;}


.dateDom {font-size: 0;}
.dateDom > .dateSelect {position: relative; display: inline-block; width: calc(50% - 20px); vertical-align: top;}
.dateDom > .dateSelect + .dateSelect {margin-left: 40px;}
.dateDom > .dateSelect + .dateSelect:before {content: '~'; position: absolute; left: -40px; width: 40px; text-align: center; line-height: 70px; font-size: 28px; color: #727476;} 
.dateDom > .dateSelect input[type="text"] {width: 100%;}
.dateDom > .dateSelect .btn_calendar {position: absolute; top: 50%; right: 21px; margin-top: -19px; width: 38px; height: 36px; background: url(../new_images/common/icocalendar_m.png) }
.dateDom + .dateRangePick {margin-top: 20px;}

.dateRangePick {font-size: 0;}
.dateRangePick > button {position: relative; display: inline-block; vertical-align: top; width: calc(33% + 1px); height: 70px; border: 1px solid #cdcdd1; text-align: center; font-size: 28px; color: #4e4f51;}
.dateRangePick > button:first-child {width: 34%;}
.dateRangePick > button + button {margin-left: -1px;}
.dateRangePick > button.on {z-index: 1; color: #4171df; border: 1px solid #4171df;}

.mBtnDom {margin-top: 40px; text-align: right;}

