@charset "utf-8";

/* ==============================
* common
* ============================== */
.commentBox {margin-top: 13px; min-height:53px; padding:30px 20px 30px 125px; border:3px solid #e7e9f0; background:url(../new_images/common/pageComment2.png) no-repeat left 46px center;}
.commentBox.ty1 {background-position: 46px 30px;}
.commentBox .dashList {display:inline-block; vertical-align:middle;}
.commentBox .dlType1 {display:inline-block; vertical-align:middle;}
.commentBox + .bigTitle02 {margin-top:62px;}
.commentBox + .tableArea {margin-top:40px;}
.commentBox + form {margin-top:40px;}
.commentTxt01 {font-weight: 500; font-size: 14px; color: #292a2d; line-height: 20px;}
.bigTitle02 + .commentBox {margin-top: 3px;}

.dashList {}
.dashList > li {position:relative; padding-left:9px; font-size:14px; color:#727476; line-height:18px;}
.dashList > li:before {content:''; position:absolute; top:9px; left:0; width:4px; border-bottom:1px solid #727476;}
.dashList > li + li {margin-top:4px;}

.listType1 {}
.listType1 > li {font-size:26px; color:#727476;}
.listType1 > li  + li {margin-top:20px;}
.listType1 > li .rndBoxTxt {margin-right:15px;}
.listType1 + .btnH60Group {margin-top:50px;}

.dlType1 {}
.dlType1 > dt {padding-bottom: 12px; font-weight: 500; font-size: 16px; color: #292a2d; text-align: left;}
.dlType1 > dd {font-size: 14px; color: #727476; line-height: 20px; text-align: left;}

.dlType2 {}
.dlType2 > dt {padding-bottom: 6px; font-weight: 500; font-size: 14px; color: #292a2d; text-align: left;}
.dlType2 > dd {font-size: 14px; color: #727476; line-height: 20px; text-align: left;}
.commentTxt01 + .dlType2 {margin-top: 23px;}

.flexMiddle {display:flex; align-items: center; justify-content: center; padding:0 8px 0 20px;}
.heightAuto {min-height:0 !important;}

.itemHash {display:inline-block; line-height:26px; padding:0 12px; margin-right:15px; border-radius:4px; color:#222; font-size:11px; background-color:#e3e7ee; font-weight:300;}
.toolTipQ {display:inline-block; vertical-align:middle; width:20px; height:20px; background:url(../new_images/common/icoTooltipQ.jpg) no-repeat; cursor:pointer; background-size:cover;}

.bgType1 {background:#f0f0f2 !important;}

.titleFs32 {font-size:32px; color:#222; line-height:1.2;}
.titleFs30 {font-weight:500; font-size:30px; color:#292a2d; line-height:1.2;}
.titleFs30 > small {padding-left:5px; font-weight:normal; font-size:26px; color:#666;}

.contBoxType2 {padding:50px 30px; background:#f7f7f7;}

.rndBoxTxt {display:inline-block; min-width:170px; padding:0 10px; line-height:40px; text-align:center; border:2px solid #d3d3d3; border-radius:25px; font-size:26px; color:#727476; background:#fff;}
.underlineLink {text-decoration: underline; color: #4171df;}
/* ==============================
* common
* ============================== */
.pcBtnPt30 {padding-top:30px;}
.bold {font-weight:500;}


/* ==============================
* common - btn
* ============================== */
.btnCloseCross {display: inline-block; width: 21px; height: 21px; background: url(../new_images/common/icoCloseCross.png) no-repeat; background-size: cover; overflow: hidden; text-indent: -999px;}


/* 통합검색 */
.totalSchRstTitle {text-align:center; font-size:26px; color:#4e4f51; line-height:1;}
.totalSchRstTitle > .kwd {font-weight:500; font-size:32px; color:#258384}

.schTabListWrap {margin-top:50px;}
.schTabList {display:table; width:100%; table-layout:fixed; border-top:1px solid #f6f6f6;}
.schTabList > li {display:table-cell; vertical-align:middle;}
.schTabList > li a {position:relative; display:block; padding-top:15px; text-align:center; font-size:18px; color:#65646a; line-height:24px;}
.schTabList > li a.on {font-weight:500; color:#3d5895}
.schTabList > li a.on:before {content:''; position:absolute; top:-1px; left:0; width:100%; border-bottom:4px solid #3d5895;}

.schEduCont {margin-top:50px;}
.schEduCont + .schEduCont {}
.schEduCont > .more {margin-top:20px; font-size:0; text-align:right;}
#subContentWrap .subContArea .schEduCont .qnaArea {padding-top:0;}

.schEduContHead {padding-bottom:14px;}
.schEduContHead:after {content:''; display:block; clear:both;}
.schEduContHead .leftGroup {display:inline-block;}
.schEduContHead .leftGroup .title {display:inline-block; vertical-align:middle; font-weight:500; font-size:26px; color:#292a2d;}
.schEduContHead .leftGroup .toolTipQ {margin-left:10px;}
.schEduContHead .leftGroup .txtCases {display:inline-block; vertical-align:middle; margin-left:5px; font-size:14px; color:#666;}
.schEduContHead .leftGroup .txtCases em {color:#f48b2f;}
.schEduContHead > .boxLinkList {float:right; margin-top:8px;}

.boxLinkList {display:inline-block; overflow:hidden;}
.boxLinkList > li {position:relative; float:left; width:110px; border:1px solid #cdcdd1; background:#fff;}
.boxLinkList > li + li {margin-left:-1px;}
.boxLinkList > li > a {display:block; text-align:center; font-size:14px; color:#727476; line-height:28px;}
.boxLinkList > li.on {z-index:1; border:1px solid #4171df;}
.boxLinkList > li.on > a {color:#4171df;}

.detailListTy2 {}
.detailListTy2 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy2 > li .tit {font-size:0;}
.detailListTy2 > li .tit > * {vertical-align:middle;}
.detailListTy2 > li .tit a {display:inline-block; font-size:20px; color:#292a2d;}
.detailListTy2 > li .tit .ih.verPC {overflow:hidden; display:inline-block !important;}
.detailListTy2 > li .tit .itemHash {float:left; margin-left:15px;}
.detailListTy2 > li .tit .itemHash.verPC {}
.detailListTy2 > li .txt01 {padding-top:20px; font-size:14px; color:#292a2d;}
.detailListTy2 > li .txt02 {padding-top:7px; font-size:14px; color:#666; line-height:24px;}


/*검색 영역*/
.schDom {padding: 25px 20px 25px 50px; border: 3px solid #d8dfeb;}
.schDom.top {margin-top: 15px;}
.schDomCont {font-size: 0; text-align: left;}
.schDomCont + .schDomCont {margin-top: 10px;}
.schDomCont > * {/*display: inline-block;*/ vertical-align: top;}
.schDomCont > .ele {display: inline-block; width: calc(100% - 125px);}
.schDomCont > .ele .selectBox,
.schDomCont > .ele input[type="text"],
.schDomCont > .ele input[type="pass"] {width: 435px;}
.schDomCont > .tit {width: 125px; display: inline-block; font-size: 18px; color: #4e4f51; line-height: 40px;}
.schDomCont > .tit.normal {line-height: normal;}
.schDom > .btnGroup {margin-top: 20px;}
.schDom + .sortArea {margin-top: 52px;}
.schDom + form {margin-top: 52px;}

.dateDom {display: inline-block; vertical-align: top; font-size: 0;}
.dateDom > .dateSelect {position: relative; display: inline-block; width: 200px; vertical-align: top; padding: 0 38px 0 0; }
.dateDom > .dateSelect + .dateSelect {margin-left: 35px;}
.dateDom > .dateSelect + .dateSelect:before {content: '~'; position: absolute; left: -35px; width: 35px; text-align: center; line-height: 40px; font-size: 14px; color: #727476;} 
.dateDom > .dateSelect input[type="text"] {display: block; width: 100%;}
.dateDom > .dateSelect input[type="text"] + img {position: absolute; top: 9px; right: 14px; width: 20px; height: 19px;}
.dateDom > .dateSelect .btn_calendar {position: absolute; top: 50%; right: 13px; margin-top: -10px;}
.dateDom + .dateRangePick {margin-left: 20px;}

.dateRangePick {display: inline-block; vertical-align: top; font-size: 0;}
.dateRangePick > button {position: relative; display: inline-block; vertical-align: top; width: 73px; height: 40px; border: 1px solid #cdcdd1; text-align: center; font-size: 14px; color: #4e4f51;}
.dateRangePick > button + button {margin-left: -1px;}
.dateRangePick > button.on {z-index: 1; color: #4171df; border: 1px solid #4171df;}

.mBtnDom {margin-top: 20px; text-align: right;}


/*통합검색*/
.esList {border-top: 2px solid #727476;}
.esList > li {padding: 10px 0; border-bottom: 1px solid #e2e2e4;}
.esList > li > .inner {display: table; width: 100%; table-layout: fixed;}

.esCont {display: table-cell; vertical-align: middle; padding: 10px 0;}
.esCont.c1 {width: 180px; text-align: center; padding: 10px 20px;}
.esLoc {font-size: 14px; color: #4e4f51; line-height: 18px;}
.esLoc + .esName {padding-top: 7px;}
.esName { font-weight: 500; font-size: 20px; color: #4e4f51; word-break: keep-all; line-height: 22px; word-wrap: break-word;}
.esName + .esCamDom {padding-top: 20px;}
.esCamDom {font-size: 0;}
.esCamDom + .esCert {padding-top: 16px;}



.esCont.c2 {vertical-align: top; border-left: 1px dashed #e2e2e4; border-right: 1px dashed #e2e2e4; padding: 10px 50px 10px 40px;}
.esTit {}
.esTit > a {display: block; font-size: 20px; color: #292a2d; line-height: 30px; vertical-align: middle;}
.esTit > a {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.esTit > a.etc {display: inline-block; max-width: calc(100% - 53px);}
.esTit > a + .icoCam {margin-left: 20px;}
.esHash {margin-top: 17px; font-size: 0;}
.esHash > .hashs {display: inline-block; margin: 0 15px 15px 0; padding: 0 15px; font-weight: 300; font-size: 11px; color: #222; line-height: 26px; border-radius: 4px; background: #e3e7ee; }
.esHash + .esInfo {margin-top: 10px;}
.esTit + .esInfo {margin-top: 20px;}
.esInfo {font-size: 0;}
.esInfo + .esInfo {margin-top: 15px;}
.esInfoCont {display: inline-block; vertical-align: middle; font-size: 0;}
.esInfoCont.esFix {width: 427px;}
.esInfoCont.rp {float: right;}
.esInfoCont > .tit:not(.etc) {display: inline-block; vertical-align: middle; width: 82px; font-weight: 300; font-size: 13px; color: #666; line-height: 21px; border: 1px solid #d3d3d3; border-radius: 25px; text-align: center;}
.esInfoCont > .tit.etc {display: inline-block; vertical-align: middle; font-size: 14px; color: #666;}
.esInfoCont > .tit.dotAdd:after {content: ' : '; margin-right: 3px;}
.esInfoCont > .esIn:not(.etc) {display: inline-block; vertical-align: middle; margin-left: 15px; font-size: 14px; color: #666;}
.esInfoCont > .esIn.etc {display: inline-block; vertical-align: middle; font-size: 14px; color: #666;}
.esInfoCont > .esIn.sGuage {height: 20px; font-size: 0;}
.esInfoCont > .esIn.cGuage {position: relative; height: 20px; margin-left: 20px; font-size: 0;}

.esTit + .esSubTxt {margin-top: 7px;}
.esSubTxt {padding-left: 7px; font-size: 14px; color: #292a2d;}
.esSubTxt > .tit,
.esSubTxt > .esIn {display: inline;}
.esSubTxt > .esIn:before {content: '(';}
.esSubTxt > .esIn:after {content: ')';}
.esSubTxt + .esInfo {margin-top: 23px;}

.esCont.c3 {width: 166px; text-align: center;}
.esCnt {display: block; font-size: 18px; color: #292a2d; line-height: 1;}
.esUnit {display: block; font-size: 18px; color: #292a2d; line-height: 1;}
.esCnt + .esUnit {padding-top: 8px;}

.rndTxt + .esCngDom2 {padding-top: 13px;}
.esCnt + .btnViewLink {margin-top: 12px;}
.esCngDom2 + .esBtns {margin-top: 11px;}
.esBtns > button + button {margin-top: 5px;}

.icoCam {display: inline-block; vertical-align: middle; width: 33px; height: 30px; background: url(../new_images/common/icoCertify.png) no-repeat;}
.rndTxt {display: inline-block; min-width: 48px; padding: 0 10px; line-height: 23px; font-weight: 700; font-size: 11px; color: #fff; text-align: center; border-radius: 25px;}
.rndTxt.ty1 {background: #f68b2e;}
.rndTxt.ty2 {background: #4870cf;}

.acaLv {font-size: 14px; color: #666;}
.acaLv > span + span:before {content: ' | ';}

.starGuage {position: relative; display: inline-block; vertical-align: middle; width: 122px; height: 20px; background: url(../new_images/common/imgStarBlink.png) no-repeat; }
.starGuage > .per {position: absolute; top: 0; left: 0; height: 20px; background: url(../new_images/common/imgStar.png) no-repeat left center; overflow: hidden; text-indent: -9999px;}
.esCngDom {position: relative; display: inline-block; vertical-align: middle;}
.colorGauge {position: relative; display: inline-block; vertical-align: middle; width: 431px; height: 20px; background: #d8dfeb; overflow: hidden;}
.cgBar {position: absolute; top: 0; left: 0; height: 20px; padding-right:10px; text-align: right; font-size: 14px; color: #fff; border-radius:0 25px 25px 0; line-height: 20px;}
.cgBar {
    background: #7d9eec; /* Old browsers */
    background: -moz-linear-gradient(left,  #7d9eec 0%, #4171df 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #7d9eec 0%,#4171df 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #7d9eec 0%,#4171df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d9eec', endColorstr='#4171df',GradientType=1 ); /* IE6-9 */
}
.colorGauge + .iconTip {margin-left: 6px; vertical-align: middle;}

.btnViewLink {display: inline-block; min-width: 136px; padding-left: 0 10px; text-align: center; font-weight: 300; font-size: 12px; color: #666; line-height: 21px; border: 1px solid #d3d3d3;}
.btnViewLink:after {content: ''; position: relative; top: -1px; display: inline-block; vertical-align: middle; margin-left: 4px; width: 6px; height: 6px; background: url(../new_images/common/arrowGoLink02.png) no-repeat; background-size: 100% 100%;}
.btnSave {min-width: 136px; font-size: 14px; color: #65646a; text-align: center; border: 1px solid #d8dfeb; line-height: 28px; background: #f8f8f8;}
.btnSave:before {content: ''; position: relative; top: -1px; display: inline-block; vertical-align: middle; margin-right: 9px; width: 19px; height: 17px; background: url(../new_images/common/iconMark01.png) no-repeat; background-size: 100% 100%;}
.btnCompare {min-width: 136px; font-size: 14px; color: #65646a; text-align: center; border: 1px solid #d8dfeb; line-height: 28px; background: #f8f8f8;}
.btnCompare:before {content: ''; position: relative; top: -1px; display: inline-block; vertical-align: middle; margin-right: 9px; width: 19px; height: 15px; background: url(../new_images/common/iconMark02.png) no-repeat; background-size: 100% 100%;}

.pcDpNone {display: none !important;}



/*카드발급안내*/
.cardInfoDom {padding-top: 5px;}
.cardInfoDom > .tit {font-weight: 500; font-size: 22px; color: #292a2d;}
.cardInfoDom > .tit + .desc {padding-top: 9px; font-size: 14px; color: #727476; line-height: 23px;}

.cardServDom {margin-top: 36px; font-size: 0;}
.cardServDom > dl {display: inline-block; width: 300px; padding-top: 63px; text-align: left; background-repeat: no-repeat; background-position: left 40px top;}
.cardServDom > dl.ty1 {background-image: url(../new_images/common/icoCardInfo01.jpg);}
.cardServDom > dl.ty2 {background-image: url(../new_images/common/icoCardInfo02.jpg);}
.cardServDom > dl.ty3 {background-image: url(../new_images/common/icoCardInfo03.jpg);}
.cardServDom + .tit {margin-top: 57px;}

.sCardInfo {margin-top: 50px; padding: 0 0 0 422px; background: url(../new_images/common/bgCardInfo01.jpg) no-repeat left center;}
.sCardInfo ul {display: inline-block;}
.sCardInfo ul > li {font-size: 14px; color: #727476;}
.sCardInfo ul > li + li {margin-top: 3px;}
.sCardInfo ul > li .tit {display: inline-block; width: 90px;}
.sCardInfo + .tit {margin-top: 70px;}

.dotDl {padding-left: 10px;}
.dotDl > dt {position: relative; padding-bottom: 9px; font-weight: 500; font-size:16px; color: #5b648a;}
.dotDl > dt:before {content: ''; position: absolute; top: 11px; left: -10px; width: 4px; border-bottom: 4px solid #5b648a; border-radius: 50%;}
.dotDl > dd {font-size: 14px; color: #727476; line-height: 23px;}

.cardTarget {min-height: 174px; margin-top: 12px; font-size: 0; background: url(../new_images/common/bgCardInfo02.jpg) no-repeat right bottom;}
.cardTarget > dl {display: inline-block; width: 300px; margin-top: 30px;}

.btnHeading {display: table; width: 100%; table-layout: fixed; font-weight: 500; font-size: 22px; color: #292a2d;}
.btnHeading > .title {display: table-cell; vertical-align: middle;}
.btnHeading > .btns {display: table-cell; vertical-align: middle; text-align: right; font-size: 0; margin-top: 8px;}
.btnHeading > .btns > button + button {margin-left: 10px;}
.btnHeading + .tableArea {margin-top: 7px;}
.tableArea + .btnHeading {margin-top: 52px;}
.tableArea + .bigTitle02 {margin-top: 53px;}


.progressDom {padding: 60px 0; text-align: center;}
.progressDom > .inner {font-size: 0;}

.guideDmpEle {position: relative; padding: 20px 0; margin: 10px 0;}
.guideDmpEle:before {content: attr(data-guidetxt); position: absolute; top: 0; left: 0; width: 100%; text-align: center; font-size: 14px; color: #000; background: #ddd;}
.guideDmpEle:after {content: attr(data-guidetxt); position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; font-size: 14px; color: #000; background: #ddd;}







