@charset "utf-8";

/* ==============================
* common
* ============================== */



.bgType1 {background:#f0f0f2 !important;}

.toolTipQ {display:inline-block; vertical-align:middle; width:26px; height:26px; background:url(../new_images/common/icoTooltipQ.jpg) no-repeat; cursor:pointer; background-size:cover;}


.titleFs30 {font-weight:500; font-size:30px; color:#292a2d; line-height:1.2;}
.titleFs30 > small {padding-left:5px; font-weight:normal; font-size:26px; color:#666;}

.titleFs32 {font-size:32px; color:#222; line-height:1.2;}

.listType1 {}
.listType1 > li {font-size:26px; color:#727476;}
.listType1 > li  + li {margin-top:20px;}
.listType1 > li .rndBoxTxt {margin-right:15px;}
.listType1 + .btnH60Group {margin-top:50px;}

.contListType6 {overflow:hidden; border-top:2px solid #e2e2e4; border-left:2px solid #e2e2e4;}
.contListType6 > li {position:relative; float:left; width:50%; padding:20px 0; border-right:2px solid #e2e2e4; border-bottom:2px solid #e2e2e4; font-size:0;}
.contListType6 > li:before {content:''; position:absolute; top:20px; left:125px; height:calc(100% - 40px); border-left:2px solid #e3e7ee;}
.contListType6 > li > .tit {display:inline-block; vertical-align:middle; width:125px; font-size:28px; color:#4e4f51; text-align:center; line-height:30px;}
.contListType6 > li > .txt {display:inline-block; vertical-align:middle; padding-left:40px; line-height:30px; font-weight:500; font-size:28px; color:#292a2d;}

.moContInner {padding:0 30px;}
.moContInner + .moContInner {margin-top:60px; padding-top:60px; border-top:8px solid #e7e9f0;}

.moContInner.ty2 {padding-top:60px; border-top:8px solid #e7e9f0;}
.moContInner.ty2 + .moContInner.ty2 {}

.contBoxType2 {padding:50px 30px; background:#f7f7f7;}

.rndBoxTxt {display:inline-block; min-width:170px; padding:0 10px; line-height:40px; text-align:center; border:2px solid #d3d3d3; border-radius:25px; font-size:26px; color:#727476; background:#fff;}

.iconTip {display:inline-block; width:45px; font-weight:500; font-size:20px; color:#fff; text-align:center; line-height:32px; background:#65646a;}

/* ==============================
* common - btn
* ============================== */
.dotBtn {display:inline-block; width:53px; height:39px; background:url(../new_images/common/icoBtnDot.png) no-repeat center center;}

.btnH60Group {font-size:0; text-align:center;}
.btnH60Group .btnH60 + .btnH60 {margin-left:20px;}

.btnH60 {display:inline-block; width:160px; height:60px; line-height:56px; text-align:center; border:1px solid #fff; background:#fff; font-weight:500; font-size:24px;}
.btnH60.ty1 {color:#fff; background:#4171df; border:2px solid #4171df;} 
.btnH60.ty2 {color:#4e4f51; border:2px solid #cdcdd1;}
.btnH60.ty3 {color:#258384; border:2px solid #258384;}
.btnH60.ty4 {color:#4171df; border:2px solid #4171df;}






/* ==============================
* 비콘
* ============================== */
.attendCont {position:relative; padding:40px 0; border:2px solid #e2e2e4; border-top:0;}
.attendCont > .inner {display:table; width:100%; table-layout:fixed;}
.attendCont > .inner .ele {display:table-cell; vertical-align:middle;}
.attendCont .ele.state {width:224px; text-align:center;}
.attendCont .ele.name {padding-left:30px; padding-right:30px; font-size:32px; color:#292a2d; line-height:34px;}
.attendCont .ele.state + .ele.name {padding-left:0;}
.attendCont > .dotBtn {position:absolute; right:28px; bottom:14px;}
.attendChk {display:inline-block; width:140px; height:140px; text-align:center; line-height:140px; border-radius:50%; font-weight:500; font-size:28px; color:#fff;}
.attendChk.ty1 {background:#5b648a;}
.attendChk.ty2 {background:#4171df;}

.attendStateCont {margin-top:24px; padding:25px 0; border:2px solid #e2e2e4; text-align:center;}
.attendDp {display:inline-block; font-size:0; text-align:center;}
.attendDp > li {display:inline-block; width:72px;}
.attendDp > li + li {margin-left:42px;}
.attendDp > li .cnt {display:block; border-radius:50%; text-align:center; line-height:72px; font-weight:500; font-size:36px; color:#fff; background:#5b648a;}
.attendDp > li .txt {display:block; margin-top:16px; font-weight:500; font-size:24px; color:#292a2d; line-height:1;}

.attendProgress {}
.attendProgress > li {}
.attendProgress > li + li {padding-top:40px; margin-top:40px; border-top:2px solid #e2e2e4;}
.attendProgress > li .tblEle {padding-bottom:20px;}
.attendProgress > li .titEle {width:195px;}
.attendProgress > li .attendDate {font-size:26px; color:#727476;}
.attendProgress > li .attendDate > strong {font-weight:500; color:#258384;}
.attendProgress > li .attendBar {line-height:1;}
.attendProgress > li .attendNoti {padding-top:20px; line-height:1; font-size:22px; color:#727476;}


.btnSlideView {display:block; width:100%; text-align:center; font-size:24px; color:#333;}
.btnSlideView > span {vertical-align:middle;}
.btnSlideView:after {content:''; display:inline-block; margin-left:18px; vertical-align:middle; width:36px; height:36px; background:url(../new_images/common/btnMore.png) no-repeat; transform: rotate(180deg); transition:0.5s;}
.btnSlideView.on:after {transform: rotate(0deg);}

.qrArea {position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:#000;}
.qrAreaTit {padding:0 20px; line-height:110px; font-weight:500; font-size:36px; color:#292a2d; border-bottom:2px solid #f4f4f4; text-align:center; background:#fff;}
.qrAreaTit {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.qrArea .desc {text-align:center; font-weight:500; font-size:26px; color:#727476; background:#fff; letter-spacing:-1px; line-height:80px;}
.qrAreaCross {height:calc(100% - 190px); background:url(../new_images/common/icoQrCross.png) no-repeat center center;}


/* 달력 */
[data-calendar] {margin-top:20px; }
[data-calendar] .calendar_header {text-align:center;}
[data-calendar] .calendar_tit {padding:15px; background:#ca0464; font-size:30px; line-height:1.2; color:#fff;}
[data-calendar] .calendar_info {display:table; position:relative; width:100%; height:80px; background:#e7e9f0;}
[data-calendar] .calendar_info .date {display:table-cell; font-size:30px; line-height:1.2; vertical-align:middle; color:#333;}
[data-calendar] .calendar_info .ctr button {overflow:hidden; position:absolute; top:50%; width:12px; height:24px; margin-top:-12px; text-indent:-9999px;}
[data-calendar] .calendar_info .ctr .prev {left:30px;}
[data-calendar] .calendar_info .ctr .prev:before {content:''; position:absolute; top:0; left:0; border-right: 12px solid #727476; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .prev:after {content:''; position:absolute; top:0; left:3px; border-right: 12px solid #e7e9f0; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .next:before {content:''; position:absolute; top:0; right:0; border-left: 12px solid #727476; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .next:after {content:''; position:absolute; top:0; right:3px; border-left: 12px solid #e7e9f0; border-top:12px solid transparent; border-bottom:12px solid transparent; box-sizing:border-box;}
[data-calendar] .calendar_info .ctr .next {right:30px;}
[data-calendar-table] {padding:30px 0; border: 2px solid #e2e2e4; border-top:0;}
[data-calendar-table] table {border:0;}
[data-calendar-table] td {position:relative; height:85px; vertical-align:top; text-align: center;}
[data-calendar-table] td .num {display:inline-block; width:45px; font-size:20px; line-height:48px; border-radius:50%;}
[data-calendar-table] td.today .num {background:#536acd; color:#fff;}
[data-calendar-table] td .msg {padding-top:8px; font-weight:500; font-size:22px; line-height:1; color: #5b648a;}




/* 통합검색 */
.totalSchRstTitle {padding:0 30px; text-align:center; font-size:36px; color:#4e4f51; line-height:1;}
.totalSchRstTitle > .kwd {font-weight:500; font-size:40px; color:#258384}

.schTabListWrap {padding:0 30px 40px 30px; margin-top:75px;}
.schTabList {overflow:hidden; /* border-top:1px solid #f6f6f6; */}
.schTabList > li {float:left; width:33%; border:1px solid #f6f6f6;}
.schTabList > li + li {border-left:0;}
.schTabList > li:nth-child(3n + 1) {width:34%; border-left:1px solid #f6f6f6;}
.schTabList > li:nth-child(n + 4) {margin-top:-1px;}
.schTabList > li a {position:relative; display:block; text-align:center; font-size:28px; color:#65646a; line-height:80px;}
.schTabList > li a.on {font-weight:500; color:#3d5895}
.schTabList > li a.on:before {content:''; position:absolute; top:-1px; left:0; width:100%; border-bottom:8px solid #3d5895;}




.schEduCont {margin-top:50px;}
.schEduCont + .schEduCont {margin-top:60px; padding-top:50px; border-top:6px solid #e1e4e9;}
.schEduCont > .more {padding:0 30px; margin-top:30px; font-size:0; text-align:right;}
#subContentWrap .subContArea .schEduCont .qnaArea {padding-top:0;}
.schEduCont .detailListWrap.mtetc {margin-top:0;}

.schEduContHead {padding:0 30px; padding-bottom:14px;}
.schEduContHead:after {content:''; display:block; clear:both;}
.schEduContHead .leftGroup {padding-bottom:2px;}
.schEduContHead .leftGroup .title {display:inline-block; vertical-align:middle; font-weight:500; font-size:30px; color:#292a2d;}
.schEduContHead .leftGroup .toolTipQ {margin-left:10px;}
.schEduContHead .leftGroup .txtCases {display:inline-block; vertical-align:middle; margin-left:5px; font-size:26px; color:#666;}
.schEduContHead .leftGroup .txtCases em {color:#f48b2f;}
.schEduContHead > .boxLinkList {margin-top:38px;}

.boxLinkList {text-align:center; font-size:0;}
.boxLinkList > li {display:inline-block; vertical-align:top; width:164px; border:1px solid #cdcdd1; background:#fff; margin-bottom:20px;}
.boxLinkList > li + li {margin-left:20px;}
.boxLinkList > li:nth-child(4n) {margin-left:0;}
.boxLinkList > li > a {display:block; text-align:center; font-size:28px; color:#727476; line-height:60px;}
.boxLinkList > li.on {z-index:1; border:1px solid #4171df;}
.boxLinkList > li.on > a {color:#4171df;}

.detailListTy2 {}
.detailListTy2 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy2 > li .tit {font-size:0;}
.detailListTy2 > li .tit > * {vertical-align:middle;}
.detailListTy2 > li .tit a {display:inline-block; font-size:30px; color:#292a2d;}
.detailListTy2 > li .tit .itemHash {margin-left:15px;}
.detailListTy2 > li .txt01 {padding-top:20px; font-size:24px; color:#292a2d; overflow:hidden; }
.detailListTy2 > li .txt02 {padding-top:7px; font-size:24px; color:#666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.detailListTy2 .tag { display:inline-block; }
.detailListTy2 .tag.verM { display:inline-block !important; margin-left:15px; }
.detailListTy2 .tag:after { content:''; display:block; clear:both; }
.detailListTy2 .tag li { float:left; margin-left:10px; font-size:20px; }
.detailListTy2 .tag li:first-child { margin-left:0; }
.detailListTy2 .tag li.border { box-sizing:border-box; min-width:40px; line-height:40px; padding:0 4px; border:1px solid #d3d3d3; border-radius:4px; text-align:center; }
.detailListTy2 .tag li.fill { box-sizing:border-box; min-width:45px; line-height:32px; background-color:#65646a; color:#fff; text-align:center }
.detailListTy2 .tag li.tip { margin-top:5px; margin-left:20px; }

.detailListTy3 {}
.detailListTy3 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy3 > li .subtit {padding-bottom:8px; font-size:24px; color:#727476;}
.detailListTy3 > li .tit a {display:block; font-size:30px; color:#292a2d; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.detailListTy3 > li .tit .itemHash {margin-left:15px;}
.detailListTy3 > li .date {padding-top:4px; font-size:24px; color:#727476;}

.detailListTy4 {}
.detailListTy4 > li {padding:30px 25px; border-bottom:1px solid #e2e2e4;}
.detailListTy4 > li .subtit {padding-bottom:9px; font-size:26px; color:#292a2d; line-height:1;}
.detailListTy4 > li .tit a {display:block; font-size:30px; color:#292a2d; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all; line-height:1;}
.detailListTy4 > li .cl {padding-top:22px; font-size:24px; color:#727476;}
.detailListTy4 > li .st {padding-top:6px; font-size:0;}
.detailListTy4 > li .st > .el {position:relative; display:inline-block; vertical-align:middle; font-size:24px; color:#727476; line-height:27px;}
.detailListTy4 > li .st > .el + .el {padding-left:10px; margin-left:10px; border-left:1px solid #727476;}
.detailListTy4 > li .st > .el.fs + .el {border-left:0;}
.detailListTy4 > li .st > .el.fs + .el:before {content:''; position:absolute; top:50%; left:0; margin-top:-10px; height:20px; border-left:1px solid #ececef;}
.detailListTy4 > li .co {padding-top:6px; font-size:24px; color:#727476;}
.detailListTy4 > li .pay {padding-top:3px; font-size:0;}
.detailListTy4 > li .pay > span {display:inline-block; vertical-align:middle;}
.detailListTy4 > li .pay > .pay01 {font-size:30px; color:#292a2d;}
.detailListTy4 > li .pay > .lo {margin-left:10px; padding:0 15px; font-weight:500; font-size:18px; color:#fff; line-height:38px; background:#4870cf; border-radius:25px;}