/* ==============================
* 공통
* ============================== */

.tabmenuArea .pcTabmenu { display:table; width:100%; margin-bottom:40px; border-top:1px solid #f6f6f6; }
.tabmenuArea .pcTabmenu li { display:table-cell; }
.tabmenuArea .pcTabmenu li a { box-sizing:border-box; display:block; line-height:60px; padding:0 10px; margin-top:-1px; color:#65646a; font-size:18px; text-align:center; }
.tabmenuArea .pcTabmenu li.on a { border-top:4px solid #3d5895; color:#3d5895; }

.tabmenuArea .mobTabmenuWrap { display:none; }

/* ==============================
* 훈련과정 공통
* ============================== */

.detailListWrap { border-top:2px solid #727476; }
.detailListWrap + .pagenation { margin-top:20px; }
.detailList > li { box-sizing:border-box; display:flex; width:100%; min-height:auto!important; padding:10px; border-bottom:1px solid #e2e2e4; }
.detailList .title { flex-shrink:0; display:flex; flex-direction:column; box-sizing:border-box; width:170px; padding:12px; }
.detailList .title .zone { margin-bottom:6px; color:#4e4f51; font-size:14px; text-align:center; }
.detailList .title .school { line-height:1.1; padding:0 20px; color:#4e4f51; font-weight: 500; font-size:20px; text-align:center; }
.detailList .title .iconCertify { width:33px; height:0; max-height:0; padding-top:30px; margin:16px auto 0; background:url('../new_images/common/icoCertify.png') no-repeat; background-size:cover; text-align:center; }
.detailList .title .award { width:98px; height:0; max-height:0; padding-top: 35px; margin:auto auto 0; overflow:hidden; background:url('../new_images/common/iconCerti3.png') no-repeat; }
.detailList .content { flex-grow:1; box-sizing:border-box; width:765px; padding:7px 40px; border-left: 1px dashed #e2e2e4; }
.detailList .content .tit { min-width:100%; line-height:33px; padding-right:50px; font-size:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.detailList .content .tit.certify { background:url('../new_images/common/icoCertify.png') no-repeat; background-size:33px 30px; background-position:right center; }
.detailList .content .txt {padding-top:5px; font-size:14px; color:#292a2d;}
.detailList .content .hashtag { display:flex; flex-wrap:wrap; margin-top:12px; }
.detailList .content .hashtag li { line-height:26px; padding:0 12px; margin-right:15px; margin-bottom:6px; border-radius:4px; color:#222; font-size:11px; background-color:#e3e7ee; }
.detailList .content .info { display:flex; flex-wrap:wrap; margin-top:25px; }
.detailList .content .info .item { display:flex; width:100%; margin-bottom:15px; }
.detailList .content .info .item.term { width:calc(100% - 152px); }
.detailList .content .info .item.term.etc { width:calc(100% - 285px); }
.detailList .content .info .item.work { width:152px; }
.detailList .content .info .item dt { min-width:82px; line-height:24px; padding:0 8px; border:1px solid #d3d3d3; border-radius:12px; color:#666; font-size:13px; text-align:center; }
.detailList .content .info .item dd { line-height:24px; margin-left:20px; color:#666; font-size:14px; }
.detailList .content .info .item dd.star { width:121px; height:0; max-height:0; padding-top:26px; background:url('../new_images/common/star4.png') no-repeat; background-size:121px 20px; background-position:center center; overflow:hidden; }
.detailList .content .info .item dd.star.star4 { background-image: url('../new_images/common/star4.png'); }
.detailList .content .info .item dd.graph { width:463px; height:19px; margin-top:3px; background:url('../new_images/common/bgGraph.png') no-repeat; background-size:cover; }
.detailList .content .info .item dd.graph .bar { display:block; width:100%; padding-right:10px; line-height:19px; background-color:#4171df; color:#fff; border-top-right-radius: 9px; border-bottom-right-radius: 9px; text-align:right;}
.detailList .util { flex-shrink:0; box-sizing:border-box; width:155px; padding:12px 8px 12px 20px; border-left:1px dashed #e2e2e4; text-align:center; }
.detailList .util .status { box-sizing:border-box; display:inline-block; min-width:48px; line-height:22px; padding:0 4px; color:#fff; font-size:11px; background-color:#f68b2e; border-radius:11px; text-align:center; }
.detailList .util .status.ty2 {background:#4870cf;}
.detailList .util .price { margin-top:12px; }
.detailList .util .self { box-sizing:border-box; display:block; line-height:23px; padding:0 6px; margin-top:12px; border:1px solid #d3d3d3; color:#666; font-size:12px; text-align:center; }
.detailList .util .btnLink { box-sizing:border-box; display:block; padding:0 6px; margin-top:12px; background-color:#f8f8f8; border:1px solid #d8dfeb; color:#65646a; font-size:16px; text-align:center; }
.detailList .util .btnLink:before { content:''; display:inline-block; width:20px; height:16px; margin-right:8px; margin-bottom:3px; background-repeat:no-repeat; background-size:20px 16px; vertical-align:middle; }
.detailList .util .btnLink.mark:before { background-image:url('../new_images/common/icobookmarkFill.png'); }
.detailList .util .btnLink.compare:before { background-image:url('../new_images/common/icoCheck.png'); }
.detailList .util .btnLink + .btnLink { margin-top:5px; }

.section-training .searchBoxType2Wrap {display:none;}

.section-training .searchBoxLine { width:100%; padding:40px 20px 20px; border:6px solid #d8dfeb; }
.section-training .searchBoxLine .row { width:100%; padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #f4f4f4; display:flex; flex-wrap:wrap; }
.section-training .searchBoxLine .row .title { width:108px; line-height:40px; padding-left:10px; color:#4e4f51; font-size:18px; }
.section-training .searchBoxLine .row .title > label { color:#4e4f51; font-size:18px; line-height:40px; }
.section-training .searchBoxLine .row .title > label > span { display:inline-block; line-height:1.3; }
.section-training .searchBoxLine .row .content { width:calc(100% - 120px); margin-bottom:8px; }
.section-training .searchBoxLine .row .content:last-child { margin-bottom:0; }
.section-training .searchBoxLine .row .content .ui_radioBox { margin:8px 0 }
.section-training .searchBoxLine .row .content .ui_radioBox + .ui_radioBox { margin-left: 20px; }
.section-training .searchBoxLine .row .content .ui_radioBox label { width:calc(100% - 120px); margin-right:0; margin-bottom:8px; }
.section-training .searchBoxLine .row .content .ui_checkBox { margin:8px 0 }
.section-training .searchBoxLine .row .content .inputKeyword input[type="text"] { width:470px; margin-right:36px; }

.section-training .searchBoxLine .openCondition {}
.section-training .searchBoxLine .openCondition span {}
.section-training .searchBoxLine .openCondition.open span:after { background-position:0 -8px; }
.section-training .searchBoxLine .openCondition.close span:after { background-position:0 0; }

.section-training .thumbnailWrap + .tabmenuArea { margin-top:80px; }
.section-training .thumbnailWrap .swiper-pagination {display:none;}

.section-training .btnDownload { box-sizing: border-box; display:inline-block; min-width:120px; line-height:30px; padding:0 16px; background-color:#c9d3e8; color:#4e4f51; font-family:'Noto Sans KR'; font-weight:500; font-size:14px; text-align:center; }

.section-training .pagenation.pc { display:block; }
.section-training .pagenation.mob { display:none; }

.section-training .headingTitleArea .headingSubTitle { margin: 50px 0 30px; font-size:26px; }

.section-training .btnArea.more { width:100%; margin-top:20px; text-align:right; }