@charset "utf-8";
#skipnav { display:none; }
#wrap {width:100%; height: 100%;}
html, body { font-size: 26px; }

/* ==============================
* header
* ============================== */   
#headerWrap { position:relative; height:auto; padding:0; box-shadow:0px 0px 20px -3px rgba(0,0,0,0.2); background:#fff; }
#headerWrap .headArea { display:none; } 
#headerWrap .headerBtn { position:fixed; width:100%; height:112px; z-index:101; }
#headerWrap .headerLogo { position:absolute; top:30px; left:30px; z-index:100;}
#headerWrap .headerLogo a { display:block; background:url('../new_images/common/headerLogo02.png'); width:220px; height:52px; font-size:0; line-height:0; }
#headerWrap .headerBtn .btn { position:absolute; z-index:102; top:32px; background:url('../new_images/common/icoHeader.png') no-repeat; width:44px; height:44px; font-size:0; line-height:0; }
#headerWrap .headerBtn .backBtn { left:30px; background-position: 0 0;}
#headerWrap .headerBtn .searhBtn { right:94px; background-position:-44px 0;}
#headerWrap .headerBtn .totalMenuBtn { right:30px; background-position:-88px 0;}
#headerWrap .headerBtn .closeBtn { right:30px; background-position:-132px 0;}

/* ==============================
* gnb
* ============================== */
body.noScroll { position: fixed; overflow: hidden;	width: 100%; height: 100% }
.overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index:200; width: 100%; height: 100%; background: rgba(0,0,0,.8); }
#headerWrap .totalMenuWrap { display: block; position: fixed; top: 0; right:-100%; z-index: 201; width: 100%; height: 100%; background:#fff; }
#headerWrap .totalMenuWrap .totalMenuArea { position:relative; display:flex; width:100%; height:100%; flex-direction:column; }
.navHead { display:flex; justify-content:space-between; width:100%; height:112px; border-bottom:2px solid #416fdf; background:#fff; padding:0 25px 0 30px; }
.navHead .btn { position:relative; top:35px; font-size:26px; line-height:42px; color:#727476; padding:0 0 0 55px; }
.navHead .btn + .btn { margin:0 0 0 25px; }
.navHead .setBtn + .btn { margin:0 0 0 5px; }
.navHead .setBtn, .navHead .closeTotalMenu { font-size:0; line-height:42px; }
.navHead .btn:before { position:absolute; top:0; left:0; content:''; background:url('../new_images/common/icoNavHeader.png') no-repeat; width:42px; height:42px; }
.navHead .loginBtn:before { background-position:0 0; }
.navHead .logoutBtn:before { background-position:-42px 0; }
.navHead .joinBtn:before { background-position:-84px 0; }
.navHead .setBtn:before { background-position:-126px 0; }
.navHead .closeTotalMenu:before { background-position:-168px 0; }
.navBody { padding:0 0 0 155px; background:url('../new_images/common/bgTotalMenu.jpg') repeat-y; overflow:hidden; overflow-y:auto; height:calc(100% - 112px); }
.navBody .navDepthArea01 { padding:25px 13px 0 8px; }
.navBody .navDepthArea01 > li { border-bottom:1px solid #dcdcdd; padding:50px 0; }
.navBody .navDepthArea01 > li > a { color:#4e4f51; font-size:30px; }
.navBody .navDepthArea01 > li > a.on { color:#4171df; font-weight:500; font-size:30px; }
.navBody .navDepthArea01 > li > a.on:before { position:absolute; display:inline-block; top:0; margin-top: -15px; left:calc(50% - 7px); width:14px; height:14px; border-radius:14px; background:#4171df; content:''; }
.navBody .navDepthArea01 .navDepth01_01 { position:absolute; top:190px; left:20px; }
.navBody .navDepthArea01 .navDepth01_02{ position:absolute; top:310px; left:20px; }
.navBody .navDepthArea01 .navDepth01_03 { position:absolute; top:430px; left:20px;  }
.navBody .navDepthArea01 .navDepth01_04 { position:absolute; top:550px; left:20px;  }
.navBody .navDepthArea01 .navTitle { font-size:36px; font-weight:500; color:#3d5895; padding:0 40px; margin:0 0 15px 0; }
.navBody .navDepthArea01 .navSubTitle { font-size:30px; color:#292a2d; margin:0 0 15px 0; }
.navBody .navDepthArea01 .navSubTitle.on { font-weight:500;}
.navBody .navDepthArea02 > li { line-height: 80px; padding:0 40px; letter-spacing:-1px; }
.navBody .navDepthArea02 > li > a { font-size:30px; color:#4e4f51; }
.navBody .navDepthArea02 > li > ul { padding:0 0 0 15px; }
.navBody .navDepthArea02 > li > ul > li { line-height:70px; }
.navBody .navDepthArea02 > li > ul > li > a { position:relative; font-size:28px; color:#4e4f51; padding:0 0 0 15px; }
.navBody .navDepthArea02 > li > ul > li > a.on { color:#5b648a; font: weight 500;; }
.navBody .navDepthArea02 > li > ul > li > a:before { position:absolute; display:inline-block; top:calc(50% - 2px); left:0; width:4px; height:4px; border-radius:4px; background:#4e4f51; content:''; }
.navBody .navDepthArea02 > li > ul > li > ul > li { padding: 0 10px; line-height:50px; }
.navBody .navDepthArea02 > li > ul > li > ul > li > a { position:relative; color:#727476; font-size:26px; padding:0 0 0 15px; }
.navBody .navDepthArea02 > li > ul > li > ul > li > a.on { color:#5b648a; font-weight:500; border-bottom:2px solid #5b648a }
.navBody .navDepthArea02 > li > ul > li > ul > li > a::before { position:absolute; display:inline-block; left:0; content:'-' }
/* ==============================
* contents
* ============================== */
#contentWrap { position:relative; } 
 
/* ==============================
* footer
* ============================== */
#footerWrap { width:100%; border-top:1px solid #e2e2e4; background:none; padding-bottom:148px; }
#footerWrap .footerArea { position:relative; width:100%; margin:0 auto;}
#footerWrap .footerArea .footerCont .footerLink,
#footerWrap .footerArea .footerCont .footerLogo,
#footerWrap .footerArea .footerCont .footerMark { display:none; }
#footerWrap .footerArea .footerCont .footerPolicy { padding:48px 30px 28px; } 
#footerWrap .footerArea .footerCont .footerPolicy > ul {display:flex; flex-wrap: wrap; justify-content:space-around; }
#footerWrap .footerArea .footerCont .footerPolicy > ul  > li { display:inline-block; padding: 0 0px; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li:first-child { padding-left:0; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li > a { font-size: 24px; color:#727476; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li.on > a { font-weight:500; color:#4e4f51; }
#footerWrap .footerArea .post { display:none; }
#footerWrap .footerArea .copyright { text-align:center; font-size:22px; color:#727476; padding-left:0; padding:0 30px; }

/* ==============================
* 하단 플로팅 메뉴
* ============================== */
#floatingWrap { display:block; width:100%; }
.fixBotNav { position:fixed; left:0px; right:0px; bottom:0px; z-index:100; height:100px; transition:all 0.4s linear; display:block; } 
.floatingMenu { background:#f9fafe; color:#fff; height:100px; }
.floatingMenu ul { display:flex; justify-content:space-between; }
.floatingMenu li { width:25%;}
.floatingMenu li a { position:relative; box-sizing:border-box; display:block; height:100px; padding-top:64px; font-size: 22px; line-height:25px; text-align: center; color:#4e4f51; }
.floatingMenu li.on a { color:#4171df; }
.floatingMenu span:after { content:''; display:block; position:absolute; top:14px; left:calc(50% - 20px); width:40px; height:40px; background:url('../new_images/common/icoFloatingMenu.png'); }
.floatingMenu .home span:after { background-position: 0px 0; }
.floatingMenu .search span:after { background-position: -40px 0; }
.floatingMenu .my span:after {background-position: -80px 0; }
.floatingMenu .alam span:after { background-position: -120px 0; }
.floatingMenu .home.on span:after { background-position: 0px -40px; }
.floatingMenu .search.on span:after { background-position: -40px -40px; }
.floatingMenu .my.on span:after {background-position: -80px -40; }
.floatingMenu .alam.on span:after { background-position: -120px -40px; }

/* ==============================
* table
* ============================== */
.tableArea { width: 100%; }
.tableArea table.list { width:100%; border-top:4px solid #727476; margin-bottom:0px; }
.tableArea table.list th { background:#f0f0f2; border-right:1px solid #e2e2e4; border-bottom:1px solid #e2e2e4; height:84px; padding:24px; font-size: 28px; color:#4e4f51; box-sizing:border-box;  }
.tableArea table.list td { border-right:2px solid #e2e2e4; border-bottom:2px solid #e2e2e4; font-size: 28px; color:#727476; text-align:center; padding:24px; box-sizing:border-box;  }
.tableArea .tableTitleArea { display:table; width:100%; margin:60px 0 0 0; }
.tableArea .tableTitleArea .tableTitle { display:table-cell; padding:0 0 26px 0; color:#292a2d; font-size:34px; font-weight:bold; }
.tableArea .tableTitleArea .tableComment { display:none; }
.tableArea table.view { width:100%; border-top:4px solid #727476; margin-bottom:40px; }
.tableArea table.view th { background:#f0f0f2; width:180px; border-bottom:2px solid #e2e2e4; padding:20px 40px; font-size: 26px; color:#222222; font-weight:400; text-align:left; box-sizing:border-box; }
.tableArea table.view td { border-bottom:2px solid #e2e2e4; font-size: 26px; color:#727476; text-align:left; padding:20px 40px; box-sizing:border-box; }
.tableArea table.view .note { font-size:26px; line-height:32px; color:#767676; padding:20px 0 0 0; }

.tableArea table.view2 { width:100%; border-top:4px solid #727476; margin-bottom:40px; }
.tableArea table.view2 th { background:#f0f0f2; width:180px; border-bottom:2px solid hsl(240, 4%, 89%); padding:10px 20px; font-size: 26px; color:#222222; font-weight:400; text-align:left; box-sizing:border-box;  }
.tableArea table.view2 td { border-bottom:2px solid #e2e2e4; font-size: 26px; color:#727476; text-align:left; padding:20px 40px; box-sizing:border-box;  }

/* ==============================
* tab
* ============================== */
.tabList { display:flex; width:100%; }
.tabList li { flex:1; height: 60px; border:1px solid #e2e2e4; border-left:none; line-height: 58px; text-align: center; color:#65646a; cursor: pointer; }
.tabList li:first-child { border-left:1px solid #e2e2e4; } 
.tabList li button, .tabInterface .tabList li a { width:100%; font-size:18px; }
.tabList li.on { border:2px solid #5b648a; border-bottom:1px solid #fff; color:#434e65; }
.tabList02 { display:flex; width:100%; border-bottom:2px solid #434e65; }
.tabList02 li { flex:1; height: 60px; line-height: 58px; text-align: center; color:#4e4f51; cursor: pointer; }
.tabList02 li button, .tabInterface .tabList li a { width:100%; font-size:16px; }
.tabList02 li.on { background:#434e65; color:#fff; }
.tabList02 li span.count { font-size:12px; }
.tabList03 { display:flex; width:100%; border-bottom:2px solid #434e65; }
.tabList03 li { height: 60px; line-height: 58px; text-align: center; color:#65646a; cursor: pointer; }
.tabList03 li button, .tabInterface .tabList li a { width:100%; }
.tabList03 li.on { background:#434e65; color:#fff; }
.tabInterface { width:100%; }
.tabInterface .tabContents .tabCont { display:none; } 
.tabInterface .tabContents .tabCont h3 { display:none; } 
.tabInterface .tabContents .tabCont.on { display:block; }

/* 텝형식의 버튼 */
.tabBtnList { width:100%; }

/* ==============================
* pagenation
* ============================== */
.pagenation { display:flex; justify-content:center; align-items:center; }
.pagenation .paging { color:#727476; font-size:28px; }
.pagenation .paging .current { font-weight:500; color:#4270e0; }
.pagenation > .pb { font-size:0; overflow:hidden; margin:0 15px; width:30px; height:30px; background:url('../new_images/common/btnPageMob.png') no-repeat; background-size: 14px 24px; background-position:center center;}
.pagenation > .next { transform: rotate(180deg); }


/* ==============================
* textarea
* ============================== */
textarea { width:100%; height:auto; font-size:28px; border:1px solid #cdcdd1; padding:12px; color:#4e4f51; resize:none;}
textarea.autosize { min-height: 80px; }
/* placeholder */
textarea::placeholder { font-size:28px; color:#767676; }

/* ==============================
* button
* ============================== */
.btnGroup{ display:block }
.btnArea{ display:inline-block }
/* 대버튼 */
button.btnType1, a.type1 a { min-width:90px; display:inline-block; text-align:center; background:#fff; border:2px solid #cdcdd1; color:#4e4f51; font-size:28px; line-height:88px; height:90px; padding:0 44px; box-sizing:border-box; }
.btnType1.primary { background:#4171df; border:2px solid #4171df; color:#fff; } 
.btnType1.etc{ background:#258384; color:#fff; border:2px solid #258384; } 
button.btnType1[disabled="disabled"] { border-color:#86a6ff;color:#86a6ff;cursor:unset}
/* 중버튼 */
button.btnType2, a.btnType2 { min-width:112px; display:inline-block; text-align:center; background:#fff; border:2px solid #cdcdd1; color:#4e4f51; font-size:26px; line-height:68px; height:70px; padding:0 30px; box-sizing:border-box; }
.btnType2.primary { background:#fff; border:2px solid #4171df; color:#4171df; } 
.btnType2.etc { background:#fff; color:#258384; border:2px solid #258384; }
button.btnType2[disabled="disabled"] { border-color:#86a6ff;color:#86a6ff;cursor:unset}
/* 소버튼 */
button.btnType3, a.btnType3 { min-width:120px; display:inline-block; text-align:center; background:#4171df; color:#fff; font-size:16px; line-height:40px; height:40px; padding:0 30px; box-sizing:border-box; }
.btnType3.primary { background:#315ac0; color:#fff; } 
button.btnType3 [disabled="disabled"]{border-color:#86a6ff;color:#86a6ff;cursor:unset}

/* UI버튼 */
button.uiBtn, a.uiBtn { min-width:112px; display:inline-block; text-align:center; background:#5b648a; border:2px solid #5b648a; color:#fff; font-size:26px; line-height:40px; height:40px; padding:0 36px; box-sizing:border-box; }
/* 검색 버튼 */
button.searchBtn, a.searchBtn { min-width:112px; display:inline-block; text-align:center; background:#4171df; border:2px solid #4171df; color:#fff; font-size:26px; line-height:70px; height:70px; padding:0 36px; box-sizing:border-box; } 
/* 바로가기 */
button.goLink, a.goLink { display:inline-block; width:150px; height:40px; line-height:36px; padding:0 20px; text-align:left; border:2px solid #cdcdd1; font-size:24px; color:#4e4f51; background:url('../new_images/common/arrowGoLink.png') no-repeat 125px 50% #fff; background-size:6px 12px; }

/* 댓글등록 버튼 */
button.commentBtn, a.commentBtn { border:2px solid #5b648a; background:#fff; color:#5b648a; width:100%; height:70px; font-size:26px; font-weight:500; }
/* 컨펌버튼 */
button.conFirm, a.conFirm { display:inline-block; width:100px; height:26px; line-height:24px; text-align:left; font-size:26px; padding:0 0 3px 10px; color:#4870cf; background:url('../new_images/common/arrowConfirm.png') no-repeat 90px 50%; background-size:6px 12px; }




/* ==============================
* input
* ============================== */
input[type="text"], input[type="password"], input[type="number"], input[type="file"] { min-width:140px; max-width:100%; font-size:28px; font-weight:300; background:#fff; border:1px solid #cdcdd1; padding:3px 12px; color:#4e4f51; height:70px; line-height:68px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="file"]:focus { border:1px solid #4171df; color:#4e4f51; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="file"]:disabled { background:#ebebeb; border:1px solid #cdcdd1; color:#dbdbdb; }
input[type="text"].error, input[type="password"].error, input[type="number"].error, input[type="file"].error { background:#fff; border:1px solid #f48b2f; color:#dbdbdb; }
/* placeholder */
input::placeholder { font-size:28px; color:#dbdbdb; }
/* js_datepicker */
input[type="text"].js_datepicker { box-sizing:border-box; width:220px; padding:0 42px 0 10px; background:url('../new_images/common/icoCalendar.png') no-repeat; background-position:calc(100% - 12px) center; }

/* ==============================
* select
* ============================== */
.selectBox { display:inline-block; font-size:28px; border:2px solid #cdcdd1; color:#4e4f51; height:70px; padding:0 40px 0 20px; }
.selectBox { -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url('../new_images/common/arrowSelect.png') no-repeat right 20px center; }
.selectBox::-ms-expand { display:none;}
.selectBox:disabled { background-color:#f2f2f2; color:#b5b5b5; }
.selectBox:focus { border:1px solid #2d4059; transition: all .3s ease; }

/* ==============================
* radio
* ============================== */
.ui_radioBox { display:inline-block; position:relative; padding-left:55px; text-align:left; line-height:40px; vertical-align:middle; }
.ui_radioBox input  {position:absolute; top:0; left:0; width:40px; height:40px; padding:0; margin:0; z-index:1; opacity:1; }
.ui_radioBox label { font-size:28px; cursor:pointer; margin-right:70px; }
.ui_radioBox label:after { content:''; display:block; position:absolute; top:0px; left:0; width:40px; height:40px; background:url('../new_images/common/radioSet.png') 0 0 no-repeat; background-size: 120px 40px; }
.ui_radioBox input:checked + label:after { background-position:-40px 0; }
.ui_radioBox input:disabled + label:after { background-position:0px 0; } 
.ui_radioBox input:disabled + label.on:after { background-position:-80px 0; } 

/* ==============================
* checkbox
* ============================== */
.ui_checkBox { display:inline-block; position:relative; padding-left:55px; text-align:left; line-height:40px; vertical-align:middle;}
.ui_checkBox input { position:absolute; top:0; left:0; width:40px; height:40px; padding:0; margin:0; z-index:1; opacity:1; }
.ui_checkBox label { font-size:28px; cursor:pointer; margin-right:70px; }
.ui_checkBox label:after { content:''; display:block; position:absolute; top:0px; left:0; width:40px; height:40px; background:url('../new_images/common/checkboxSet.png') 0 0 no-repeat; background-size: 120px 40px; }
.ui_checkBox input:checked + label:after { background-position:-40px 0; }
.ui_checkBox input:disabled + label:after { background-position:0px 0; } 
.ui_checkBox input:disabled + label.on:after { background-position:-80px 0; }

/* ==============================
* etc
* ============================== */
.ellisis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.verPC { display:none !important; }
.verM { display:block !important; }
.forPC { display:none !important; }  
.tl { text-align: left !important; }
.tc { text-align: center !important; }
.tr { text-align: right !important; }
.fl { float:left;}
.fr { float:right;}
.clear {clear:both;}
.clearFixed:after {content:''; display:block; clear:both;}
.color01 { color:#f68b2e; }
.color02 { color:#93480f; }
.color03 { color:#4870cf; }
.color04 { color:#258384; }
.bg01 { background-color:#fff !important; }
.w100p { width:100% !important; }
.w145 { width:145px !important; }
.w150 { width:150px !important; }
.w180 { width:180px !important; }
.w300 { width:300px !important; }
.w480 { width:480px !important; }
.mt30 { margin-top:30px !important; }
.mb0 {margin-bottom:0 !important;}
.pr0 {padding-right:0 !important;}
.brd-r-ty1 {border-right:1px solid #e2e2e4;}
.spacing-3 {letter-spacing:-3px;}
.hide { position:absolute; left:-99999px; }


/* 차트 - 도넛 : 임시 */
.chartDoughnut { width: 100%; font-size: 16px; margin: 0 auto; animation: donutfade 1s; }

@keyframes donutfade {
    0% { opacity: .2; }
    100% { opacity: 1; }
}

.donut-ring { stroke: #EBEBEB; }
.donut-segment { transform-origin: center; stroke: #FF6200; }
.donut-segment-2 { stroke: #4171df; animation: donut1 3s; }
.donut-segment-3 { stroke: #4171df; animation: donut2 3s; }
.donut-segment-4 { stroke: #4171df; animation: donut3 3s; }

.segment-1{fill:#4171df;}
.segment-2{fill:#4171df;}
.segment-3{fill:#4171df;}
.segment-4{fill:#4171df;}

.donut-percent { animation: donutfadelong 1s; }

@keyframes donutfadelong {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes donut1 {
    0% { stroke-dasharray: 0, 100; }
    100% { stroke-dasharray: 69, 31; }
}

@keyframes donut2 {
    0% { stroke-dasharray: 0, 100; }
    100% { stroke-dasharray: 30, 70; }
}

@keyframes donut3{
    0% { stroke-dasharray: 0, 100; }
    100% { stroke-dasharray: 1, 99; }
}

.donut-text { font-family: Arial, Helvetica, sans-serif; fill: #FF6200; }
.donut-text-1 { fill: aqua; }
.donut-text-2 { fill: #d9e021; }
.donut-text-3 { fill: #ed1e79; }
.donut-label { font-size: 0.28em; font-weight: 700; line-height: 1; fill: #000; transform: translateY(0.25em); }
.donut-percent { font-size: 0.5em; line-height: 1; transform: translateY(0.5em); font-weight: bold; }
.donut-data { font-size: 0.12em; line-height: 1; transform: translateY(0.5em); text-align: center; text-anchor: middle; color:#666; fill: #666; animation: donutfadelong 1s; }
