@charset "utf-8";

/* ==============================
 * skip navigation
 * ============================== */
#skipnav a { position:fixed; z-index:150; display:block; height:1px; width:1px; margin:0 -1px -1px 0; padding:0; overflow:hidden; font-size:1px; line-height:0; }
#skipnav a:active, 
#skipnav a:focus,
#skipnav a:hover { width:100%; height:auto; background: #666666; margin:0; padding:10px 0; font-weight:500; font-size: 16px; color:#fff; text-align:center; line-height:1; text-decoration:none }

#wrap {width:100%; height: 100%;}
body.noScroll { position: fixed; overflow: hidden;	width: 100%; height: 100% }
/* ==============================
 * header
 * ============================== */
#headerWrap { position:fixed; top:0; width:100%;/* height:344px; */top:0; z-index:100; }
#headerWrap.fixed { background:#fff; height:100px; border-bottom:1px solid #4171df; transition-duration:0.5s; }
#headerWrap .headArea {width:1140px; margin:0 auto;}
#headerWrap .logoTop { position:absolute; top:45px; }
#headerWrap .logoTop a { display:block; background:url('../new_images/common/headerLogo.png'); width:162px; height:38px; font-size:0; line-height:0; }
#headerWrap.fixed .logoTop a { background:url('../new_images/common/headerLogo02.png'); background-size:162px 38px; }
#headerWrap .headerBtn, #headerWrap .totalMenuWrap { display:none; }
#tnb { display:flex; justify-content:flex-end; padding:10px 10px 20px 0; }
#tnb li { text-align:left; padding-left:40px; }
#tnb li a { display:block; font-size:12px; color:#fff; }
#tnb.fixed li a { color:#292a2d; }
#headerWrap .headBot { width:100%; }
#gnb { position:relative; display:flex; justify-content:flex-end; padding:0 10px 0 0; }
#gnb > li { height:72px; text-align:left; padding-left:100px; }
#gnb > li > a { position:relative; display:block; font-size:22px; color:#fff; }
#gnb > li.gnbSearchBtn { padding-left:70px; }
#gnb > li.gnbSearchBtn > a { font-size:0; width:20px; height:33px; background:url('../new_images/common/icoGnbSearch.png') 0 7px no-repeat; }
#gnb.fixed > li > a { color:#292a2d; }
#gnb.fixed > li.gnbSearchBtn > a { background-position:-20px 7px; }
#gnb > li > a.on { color:#4171df; font-weight:500; } 
#gnb > li > a.on:before { position:absolute; display:inline-block; top:0; margin-top: -7px; left:calc(50% - 4px); width:8px; height:8px; border-radius:8px; background:#4171df; content:''; }
#gnb > li.gnbSearchBtn > a.on:before { background:none; width:0; height:0;}
#gnb .gnbSubArea { display:none; position:fixed; top:100px; left:0; width:100%; background:#f9fafd; box-sizing:border-box; }
#gnb .gnbSubArea.gnbSub01 > ul { display:block; background:url('../new_images/common/bgGnb01.png') 0 bottom no-repeat; }
#gnb .gnbSubArea.gnbSub02 > ul { display:block; background:url('../new_images/common/bgGnb02.png') 0 bottom no-repeat; }
#gnb .gnbSubArea.gnbSub03 > ul { display:block; background:url('../new_images/common/bgGnb03.png') 0 bottom no-repeat; }
#gnb .gnbSubArea.gnbSub04 > ul { display:block; background:url('../new_images/common/bgGnb04.png') 0 bottom no-repeat; }
#gnb .gnbSubArea.gnbSub05 > ul { display:block; }
#gnb .gnbSubArea > ul { overflow:hidden; width:1140px; margin:0 auto; padding:30px 0 30px 330px; }
#gnb .gnbSubArea > ul > li { float:left; width:260px; }
#gnb .gnbSubArea > ul > li > a { display:inline-block; margin:0 0 15px 0; color:#4e4f51; font-size:18px;  border-bottom:1px solid #f9fafd; }
#gnb .gnbSubArea > ul > li > a:hover { color:#5b648a; font-weight:500; font-size:18px; border-bottom:1px solid #434e64; }
#gnb .gnbSubArea > ul > li > ul { padding:0 0 10px; }
#gnb .gnbSubArea > ul > li > ul > li { margin:0 0 10px 0; }
#gnb .gnbSubArea > ul > li > ul > li > a { position:relative; padding:0 0 0 10px; font-size:16px; }
#gnb .gnbSubArea > ul > li > ul > li > a:before { position:absolute; display:inline-block; top:calc(50% - 2px); left:0; width:4px; height:4px; border-radius:4px; background:#5b648a; content:''; }
#gnb .gnbSubArea > ul > li > ul > li > a:hover { color:#5b648a; font-weight:500; }
#gnb .gnbSubArea > ul > li > a { color:#4e4f51; font-size:18px; }
#gnb .gnbSubArea > ul > li > a:hover { color:#5b648a; font-weight:500; font-size:18px; border-bottom:1px solid #434e64; }
#gnb .gnbSubArea .searchArea { padding:60px 0; }
#gnb .gnbSubArea .searchArea > li { float:none; width:100%; text-align:center; }
#gnb .gnbSubArea .searchArea #searchTotalKeyword { border:2px solid #434e64; font-size:18px; font-weight:300; width:536px; height:58px; }
#gnb .gnbSubArea .searchArea #searchTotalKeyword::placeholder { font-size:18px; }
#gnb .gnbSubArea .searchArea .btnTotalSearch { width:64px; height:58px; background:url('../new_images/common/btnTotalSearch.png') no-repeat; font-size:0; }
#gnb .gnbSubArea .searchKeywordArea { display:flex; justify-content:center; margin:20px 0 0 0; }
#gnb .gnbSubArea .searchKeywordArea > p { position:relative; display:inline-block; padding:0 25px 0 0; font-size:16; color:#434e64; font-weight:500; }
#gnb .gnbSubArea .searchKeywordArea > p:after { position:absolute; top:4px; right:0; width:1px; height:20px; background:#d5d8de; content:'';  }
#gnb .gnbSubArea .searchKeywordArea .searchKeyword > a { color:#258384; font-size:14px; margin:0 0 0 25px; }
/* ==============================
* contents
* ============================== */
#contentWrap { width: 100%; padding:0 0 120px; }
/* ==============================

* footer
* ============================== */
#footerWrap { width:100%; border-top:1px solid #e9e9e9; background:url('../new_images/common/bgFooterLink.png') repeat-x #fff; }
#footerWrap .footerArea { position:relative; width:1140px; margin:0 auto;}
#footerWrap .footerArea .footerCont .footerLink { width:100%; }
#footerWrap .footerArea .footerCont .footerLink ul { padding:0 25px; }
#footerWrap .footerArea .footerCont .footerLink ul > li { position:relative;  width:96px; padding: 10px 0 10px 30px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink01 { width:96px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink02 {  width:66px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink03 {  width:100px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink04 {  width:110px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink05 {  width:86px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink06 {  width:75px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink07 {  width:100px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink08 {  width:60px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink09 {  width:145px; padding: 10px 0 10px 52px; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink10 {  width:115px; }
#footerWrap .footerArea .footerCont .footerLink ul > li:after { position:absolute; top:10px; left:0; width:30px; height:30px; background:url('../new_images/common/familySiteSet.png') no-repeat; content:''; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink01:after { background-position:0 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink02:after { background-position:-30px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink03:after { background-position:-60px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink04:after { background-position:-90px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink05:after { background-position:-120px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink06:after { background-position:-150px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink07:after { background-position:-180px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink08:after { background-position:-210px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink09:after { width:52px; background-position:-240px 0; }
#footerWrap .footerArea .footerCont .footerLink ul > li.footerLink10:after { background-position:-292px 0; }
#footerWrap .footerArea .footerCont .footerLink .swiper-button-prev { top:35px; left:0; width:20px; height:20px; background:url('../new_images/common/arrowSlider.png') no-repeat; }
#footerWrap .footerArea .footerCont .footerLink .swiper-button-next { top:35px; right:0; width:20px; height:20px; background:url('../new_images/common/arrowSlider.png') no-repeat; transform:rotate(180deg); }

#footerWrap .footerArea .footerCont .footerLink a { display:inline-block; width:100%;color:#bcbcbc; font-size:12px; }
#footerWrap .footerArea .footerCont .footerLogo { position:absolute; display:flex; justify-content:flex-start; top:77px; }
#footerWrap .footerArea .footerCont .footerLogo li { position:relative; }
#footerWrap .footerArea .footerCont .footerLogo li:first-child { padding-right:30px; }
#footerWrap .footerArea .footerCont .footerLogo li:first-child:after { position:absolute; top:10px; right:15px; width:2px; height:15px; content:''; background:#f7f7f7; }
#footerWrap .footerArea .footerCont .footerPolicy { padding:36px 0 25px 310px; } 
#footerWrap .footerArea .footerCont .footerPolicy > ul { display:flex; justify-content:flex-start; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li { display:inline-block; padding: 0 17px; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li:first-child { padding-left:0; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li > a { font-size: 14px; color:#727476; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li.on > a { color:#4e4f51; font-weight:500; }
#footerWrap .footerArea .footerCont .footerMark { position:absolute; display:flex; justify-content:flex-end; top:120px; right:0; }
#footerWrap .footerArea .footerCont .footerMark li { padding-left:10px; }
.post { font-size:12px; color:#727476; padding-left:310px; }
.copyright { font-size:12px; color:#727476; padding-left:310px; padding-bottom:105px; }

/* ==============================
* 하단 플로팅 메뉴
* ============================== */
#floatingWrap {	display:none; }

/* ==============================
* top button
* ============================== */
.btnGoTop { position: fixed; right: 15px; bottom: 0; z-index: 50; opacity: 0; transition: all 0.4s linear; }
.btnGoTop a { display:block; width: 36px; height: 37px; background: url('../images/common/btn/go_top_btn.png') no-repeat; background-size: 100%; font-size: 0; }
.btnGoTop.on { bottom: 65px; visibility: visible; opacity: 1; }

/* ==============================
* table
* ============================== */
.tableArea { width:100%; }
.tableArea table.list { width:100%; border-top:1px solid #727476; margin-bottom:20px; box-sizing:border-box; }
.tableArea table.list th { background:#f0f0f2; border-right:1px solid #e2e2e4; padding:14px; font-size: 14px; color:#4e4f51; font-weight:400; box-sizing:border-box; }
.tableArea table.list td { border-right:1px solid #e2e2e4; border-bottom:1px solid #e2e2e4; font-size: 14px; color:#727476; text-align:center; padding:14px;  box-sizing:border-box; word-wrap: break-word;}
.tableArea table.list th.last, .tableArea table.list td.last { border-right:none; }
.tableArea table.list tfoot td {position: static; background: #f0f0f2;}
.tableArea .tableTitleArea { display:table; width:100%; margin:50px 0 0 0; }
.tableArea .tableTitleArea .tableTitle { display:table-cell; padding:0 0 15px 0; color:#292a2d; font-size:22px; font-weight:500; }
.tableArea .tableTitleArea .tableComment { display:table-cell; padding:0 0 7px 0; vertical-align:bottom; text-align:right; color:#727476; font-size:12px; font-weight:400; }
.tableArea .tableTitleArea .tableBtnSet { display:table-cell; padding:0 0 7px 0; vertical-align:middle; text-align:right; }
.tableNoti { font-size:12px; line-height:20px; color:#727476; }

.tableArea table.view { width:100%; border-top:2px solid #727476; margin-bottom:20px; box-sizing:border-box; background: #fff;}
.tableArea table.view th { background:#f0f0f2; width:210px; border-bottom:1px solid #e2e2e4; padding:17px 30px; font-size: 14px; color:#222222; font-weight:400; text-align:left; box-sizing:border-box; }
.tableArea table.view td { border-bottom:1px solid #e2e2e4; font-size: 14px; color:#727476; text-align:left; padding:12px;  box-sizing:border-box; }
.tableArea table.view .note { font-size:13px; line-height:18px; color:#767676; padding:10px 0 0 0; }

.tableArea table.view.tblCenterAlign th {width:auto; text-align:center;}
.tableArea table.view.tblCenterAlign td {text-align:center;}
.tableArea table.view.tblCenterAlign thead th {background:#f0f0f2;}
.tableArea table.view.tblCenterAlign tbody th {background:#f8f8f8;}
.tableArea table.view.tblBrdAll th,
.tableArea table.view.tblBrdAll td {border:1px solid #e2e2e4; border-left:none;}
.tableArea table.view.tblBrdAll thead tr th:last-child {border-right:none;}
.tableArea table.view.tblBrdAll tr td:last-child {border-right:none;}
.tableArea.compareTbl table.view th.compareThColor {background:#f2f2fc;}
.tableArea.compareTbl table.view th.thFontBig {font-size:16px;}
.tableArea.compareTbl table.view th.compareThColor.thFontBig {color:#5b648a;}
.tableArea + .bigTitle {padding-top:32px;}

.tblEle {display:table; width:100%;}
.tblEle > .ele {display:table-cell; vertical-align:middle;}
.tblEle > .ele.mini {text-align:right; width:10px; padding-left:10px; white-space:nowrap;}
.tblEle > .ele.mini.verPC {display:table-cell !important;}
.tblEle > .ele .inpAlertMsg {padding-top:0;}
.tblEle.ibType {max-width: 480px;}
.tblEle.ibType > .ele input[type="text"],
.tblEle.ibType > .ele input[type="password"] {width: 100%;}
.inpArea + .tblEle {padding-top:10px;}


/* 이전 다음글 */
.tableArea table.view2 { width:100%; border-top:2px solid #727476; margin-bottom:20px; margin-top:40px; box-sizing:border-box; }
.tableArea table.view2 th { background:#f0f0f2; width:210px; border-bottom:1px solid #e2e2e4; padding:17px 30px; font-size: 14px; color:#222222; font-weight:400; text-align:left; box-sizing:border-box; }
.tableArea table.view2 td { border-bottom:1px solid #e2e2e4; font-size: 14px; color:#727476; text-align:left; padding:12px;  box-sizing:border-box; }
.tableArea table.view .ui_radioBox { margin-right:-40px; }

/* ==============================
* tab
* ============================== */
.tabList { display:flex; width:100%; }
.tabList li { flex:1; height: 60px; border:1px solid #e2e2e4; border-left:none; line-height: 58px; text-align: center; color:#65646a; cursor: pointer; }
.tabList li:first-child { border-left:1px solid #e2e2e4; } 
.tabList li button, .tabInterface .tabList li a { width:100%; font-size:18px; }
.tabList li.on { border:2px solid #5b648a; border-bottom:1px solid #fff; color:#434e65; }
.tabList02 { display:flex; width:100%; border-bottom:2px solid #434e65; }
.tabList02 li { flex:1; height: 60px; line-height: 58px; text-align: center; color:#4e4f51; cursor: pointer; }
.tabList02 li button, .tabInterface .tabList li a { width:100%; font-size:16px; }
.tabList02 li.on { background:#434e65; color:#fff; }
.tabList02 li span.count { font-size:12px; }
.tabList03 { display:flex; width:100%; border-bottom:2px solid #434e65; }
.tabList03 li { height: 60px; line-height: 58px; text-align: center; color:#65646a; cursor: pointer; }
.tabList03 li button, .tabInterface .tabList li a { width:100%; }
.tabList03 li.on { background:#434e65; color:#fff; }
.tabList04 { display:flex; width:100%; border-bottom:1px solid #d4d5d6; }
.tabList04 li { flex:1; height: 50px; line-height: 48px; text-align: center; color:#727476; cursor: pointer; }
.tabList04 li button, .tabInterface .tabList li a { width:100%; font-size:16px; }
.tabList04 li.on { color:#292a2d; border-bottom:4px solid #434e65; }
.tabInterface { width:100%; }
.tabInterface .tabContents .tabCont { display:none; } 
.tabInterface .tabContents .tabCont.on { display:block; }
.tabContents h3 { font-size:0; }


/* 텝형식의 버튼 */
.tabBtnList { width:100%; }

/* ==============================
* textarea
* ============================== */
textarea { width:100%; height:105px; font-size:14px; border:1px solid #cdcdd1; padding:12px; color:#4e4f51; resize:none;}
textarea.autosize { min-height: 80px; }
/* placeholder */
textarea::placeholder { font-size:14px; color:#767676; }

/* ==============================
* input
* ============================== */
input[type="text"], input[type="password"], input[type="number"], input[type="file"] { min-width:140px; max-width:486px; font-size:14px; background:#fff; border:1px solid #cdcdd1; padding:3px 12px; color:#4e4f51; height:40px; line-height:38px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="file"]:focus { border:1px solid #4171df; color:#4e4f51; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="file"]:disabled { background:#ebebeb; border:1px solid #cdcdd1; color:#dbdbdb; }
input[type="text"].error, input[type="password"].error, input[type="number"].error, input[type="file"].error { background:#fff; border:1px solid #f48b2f; color:#dbdbdb; }
/* placeholder */
input::placeholder { font-size:14px; color:#767676; }
/* js_datepicker */
input[type="text"].js_datepicker { box-sizing:border-box; width:220px; padding:0 42px 0 10px; background:url('../new_images/common/icoCalendar.png') no-repeat; background-position:calc(100% - 12px) center; }

/* ==============================
* select
* ============================== */
.selectBox { display:inline-block; font-size:14px; border:1px solid #cdcdd1; color:#4e4f51; height:40px; padding:0 30px 0 20px; }
.selectBox { -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url('../new_images/common/arrowSelect.png') no-repeat right 10px center; background-size:10px 6px; }
.selectBox::-ms-expand { display:none;}
.selectBox:disabled { background-color:#f2f2f2; color:#b5b5b5; }
.selectBox:focus { border:1px solid #2d4059; transition: all .3s ease; }
.selectBox.h30 { height:30px; }

/* ==============================
* radio
* ============================== */
.ui_radioBox { display:inline-block; position:relative; padding-left:36px; text-align:left; line-height:26px; vertical-align:middle; }
.ui_radioBox input  {position:absolute; top:0; left:0; width:26px; height:26px; padding:0; margin:0; z-index:1; opacity:1; }
.ui_radioBox label { font-size:14px; cursor:pointer; }
.ui_radioBox label:after { content:''; display:block; position:absolute; top:0px; left:0; width:26px; height:26px; background:url('../new_images/common/radioSet.png') 0 0 no-repeat; background-size: 78px 26px; }
.ui_radioBox input:checked + label:after { background-position:-26px 0; }
.ui_radioBox input:disabled + label:after { background-position:0 0; }
.ui_radioBox input:disabled + label.on:after { background-position:-52px 0; }
.ui_radioBox + .ui_radioBox { margin-left:40px; }
.ui_radioBox + br + .ui_radioBox { margin-left:40px; }
.ui_radioBox label { margin-right:40px; }

/* ==============================
* checkbox
* ============================== */
.ui_checkBox { display:inline-block; position:relative; padding-left:36px; text-align:left; line-height:26px; vertical-align:middle;}
.ui_checkBox input { position:absolute; top:0; left:0; width:26px; height:26px; padding:0; margin:0; z-index:1; opacity:1; }
.ui_checkBox label { font-size:14px; cursor:pointer; }
.ui_checkBox label:after { content:''; display:block; position:absolute; top:0px; left:0; width:26px; height:26px; background:url('../new_images/common/checkboxSet.png') 0 0 no-repeat; background-size: 78px 26px; }
.ui_checkBox input:checked + label:after { background-position:-26px 0; }
.ui_checkBox input:disabled + label:after { background-position:0 0; } 
.ui_checkBox input:disabled + label.on:after { background-position:-52px 0; } 
.ui_checkBox input:checked:disabled + label:after { background-position:-52px 0; } 
.ui_checkBox + .ui_checkBox { margin-left:40px; }
.ui_checkBox + br + .ui_checkBox { margin-left:40px; }

.ui_checkBox.single {width:26px; height:26px; padding-left:26px;}
.ui_checkBox.single label { font-size:0; }


/* ==============================
* button
* ============================== */
.btnGroup { display:block; text-align:center; }
.btnArea{ display:inline-block; vertical-align:middle; }

/* 대버튼 */
button.btnType1 , a.btnType1 { min-width:136px; display:inline-block; text-align:center; background:#fff; border:1px solid #cdcdd1; color:#4e4f51; font-size:18px; line-height:50px; height:52px; padding:0 44px; box-sizing:border-box; }
.btnType1.primary { background:#4171df; border:1px solid #4171df; color:#fff; } 
.btnType1.etc { background:#fff; color:#258384; border:1px solid #258384; } 
.btnType1.ty1 { border: 1px solid #4171df; color: #4171df; }
.btnType1.ty2 { background: #258384; color: #fff; }
.btnType1.ty3 { background: #4171df; color: #fff; }
button.btnType1[disabled="disabled"] { border-color:#86a6ff;color:#86a6ff;cursor:unset}
button.btnType1 + button { margin:0 0 0 17px; }
/* 중버튼 */
button.btnType2, a.btnType2 { min-width:112px; display:inline-block; text-align:center; background:#fff; border:1px solid #cdcdd1; color:#4e4f51; font-size:14px; line-height:38px; height:40px; padding:0 36px; box-sizing:border-box; }
.btnType2.primary { background:#fff; border:1px solid #4171df; color:#4171df; } 
.btnType2.etc,.btnType2 a.etc { background:#fff; color:#258384; border:1px solid #258384; }
.btnType2.loginBtn,.btnType2 a.loginBtn { background:#4171df; color:#fff; font-size:14px; }
button.btnType2[disabled="disabled"] { border-color:#86a6ff;color:#86a6ff;cursor:unset}
/* 소버튼 */
button.btnType3 , a.btnType3 { min-width:112px; display:inline-block; text-align:center; background:#4171df; color:#fff; font-size:16px; line-height:38px; height:40px; padding:0 30px; box-sizing:border-box; }
.btnType3.primary { background:#315ac0; color:#fff; } 
button.btnType3[disabled="disabled"]{ border-color:#86a6ff;color:#86a6ff;cursor:unset}
/* UI버튼 */
button.uiBtn, a.uiBtn { min-width:112px; display:inline-block; text-align:center; background:#5b648a; border:1px solid #5b648a; color:#fff; font-size:14px; line-height:40px; height:40px; padding:0 36px; box-sizing:border-box; }
/* 검색 버튼 */
button.searchBtn, a.searchBtn { min-width:112px; display:inline-block; text-align:center; background:#4171df; border:1px solid #4171df; color:#fff; font-size:14px; line-height:40px; height:40px; padding:0 36px; box-sizing:border-box; } 
/* 바로가기 */
button.goLink, a.goLink { position:relative; display:inline-block; min-width:100px; height:26px; line-height:24px; padding:0 35px 0 20px; text-align:left; border:1px solid #cdcdd1; font-size:12px; color:#4e4f51; background-size:6px 12px; background-color:#fff; }
button.goLink, a.goLink:after { position:absolute; top:6px; right:20px; width:6px; height:12px; content:''; background:url('../new_images/common/arrowGoLink.png') no-repeat; background-size:6px 12px; }
.goLinkLong {display:inline-block; min-width:100px; height:26px; line-height:24px; padding:0 20px; text-align:left; border:1px solid #cdcdd1; font-size:12px; color:#4e4f51; }
.goLinkLong:after {content:''; display:inline-block; vertical-align:middle; width:6px; height:12px; margin-left:5px; margin-top:-3px; background:#fff url('../new_images/common/arrowGoLink.png') no-repeat; background-size:cover;}
/* ETC */
.btnH26 {display:inline-block; padding:0 15px; min-width:105px; text-align:center; font-size:12px; color:#258384; border:1px solid #258384; line-height:24px; background: #fff;}
.btnH26s {display:inline-block; padding:0 15px; min-width:88px; text-align:center; font-size:12px; color:#4e4f51; border:1px solid #cdcdd1; line-height:24px; background: #fff;}
.btnH26.ty1 {min-width:58px; border: 1px solid #258384; color: #258384;}
.btnH26.ty2 {min-width:58px; border: 1px solid #cdcdd1; color: #4e4f51;}
.btnH26.ty3 {min-width:58px; border: 1px solid #4171df; color: #4171df;}
.btnH30 {display:inline-block; padding:0 15px; min-width:105px; text-align:center; font-size:14px; color:#258384; border:1px solid #258384; line-height:28px;}
.btnH30.ty1 {height:30px; line-height:30px; text-align:center; font-size:14px; color:#4e4f51; border:0; background:#c9d3e8;}


/* 댓글등록 버튼 */
button.commentBtn, a.commentBtn { border:1px solid #5b648a; background:#fff; color:#5b648a; width:136px; height:105px; font-size:16px; font-weight:500; }
/* 컨펌버튼 */
button.conFirm, a.conFirm { display:inline-block; width:100px; height:26px; line-height:24px; text-align:left; font-size:13px; padding:0 0 3px 10px; color:#4870cf; background:url('../new_images/common/arrowConfirm.png') no-repeat 90px 50%; background-size:6px 12px; }

/* height 60px button */
.dotBtn {display:inline-block; width:53px; height:39px; background:url(../new_images/common/icoBtnDot.png) no-repeat center center;}
.btnH60Group {font-size:0; text-align:center;}
.btnH60Group .btnH60 + .btnH60 {margin-left:20px;}
.btnH60 {display:inline-block; width:160px; height:60px; line-height:56px; text-align:center; border:1px solid #fff; background:#fff; font-weight:500; font-size:24px;}
.btnH60.ty1 {color:#fff; background:#4171df; border:2px solid #4171df;} 
.btnH60.ty2 {color:#4e4f51; border:2px solid #cdcdd1;}
.btnH60.ty3 {color:#258384; border:2px solid #258384;}
.btnH60.ty4 {color:#4171df; border:2px solid #4171df;}

/* ==============================
* pagenation
* ============================== */
.pagenation {text-align:center; font-size: 14px; color:#9e9e9e; }
.pagenation > a {display:inline-block; border-bottom:4px solid #fff; margin:0 4px; min-width:30px; line-height:26px; vertical-align:middle; text-align:center; color:#333; box-sizing: border-box; }
.pagenation > a.on { border-bottom:4px solid #4270e0; color: #4270e0; }
.pagenation > a:hover:not(.pb) { border-bottom:4px solid #4270e0; color: #4270e0; }
.pagenation > .pb { border:1px solid #ccc; font-size:0; overflow:hidden; margin:0 15px; width:30px; height:30px; background:url('../new_images/common/btnPage.png') center no-repeat; background-size: 6px 10px;}
.pagenation > .next { transform: rotate(180deg); }

/* ==============================
* circle graph /* 임시 테스트용
* ============================== */
.svg-item { width: 95%; font-size: 16px; margin: 0 auto; animation: donutfade 1s; }
.chartDoughnut { width: 100%; font-size: 16px; margin: 0 auto; animation: donutfade 1s; }

@keyframes donutfade {
    0% { opacity: .2; }
    100% { opacity: 1; }
}

.donut-ring { stroke: #EBEBEB; }
.donut-segment { transform-origin: center; stroke: #FF6200; }
.donut-segment-2 { stroke: #4171df; animation: donut1 3s; }
.donut-segment-3 { stroke: #4171df; animation: donut2 3s; }
.donut-segment-4 { stroke: #4171df; animation: donut3 3s; }

.segment-1{fill:#4171df;}
.segment-2{fill:#4171df;}
.segment-3{fill:#4171df;}
.segment-4{fill:#4171df;}

.donut-percent { animation: donutfadelong 1s; }

@keyframes donutfadelong {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes donut1 {
    0% { stroke-dasharray: 0, 100; }
    100% { stroke-dasharray: 69, 31; }
}

@keyframes donut2 {
    0% { stroke-dasharray: 0, 100; }
    100% { stroke-dasharray: 30, 70; }
}

@keyframes donut3{
    0% { stroke-dasharray: 0, 100; }
    100% { stroke-dasharray: 1, 99; }
}

.donut-text { font-family: Arial, Helvetica, sans-serif; fill: #FF6200; }
.donut-text-1 { fill: aqua; }
.donut-text-2 { fill: #d9e021; }
.donut-text-3 { fill: #ed1e79; }
.donut-label { font-size: 0.28em; font-weight: 700; line-height: 1; fill: #000; transform: translateY(0.25em); }
.donut-percent { font-size: 0.5em; line-height: 1; transform: translateY(0.5em); font-weight: bold; }
.donut-data { font-size: 0.12em; line-height: 1; transform: translateY(0.5em); text-align: center; text-anchor: middle; color:#666; fill: #666; animation: donutfadelong 1s; }

/* ==============================
* etc
* ============================== */
.ellisis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.verPC { display:block !important; }
.verM { display:none !important; }
.tl { text-align: left !important; }
.tc { text-align: center !important; }
.tr { text-align: right !important; }
.fl { float:left;}
.fr { float:right;}
.clear {clear:both;}
.clearFixed:after {content:''; display:block; clear:both;}
.color01 { color:#f68b2e !important; }
.color02 { color:#93480f !important; }
.color03 { color:#4870cf !important; }
.color04 { color:#258384 !important; }
.color05 { color:#4171df !important; }
.minwDefault { min-width:0 !important; }
.maxwDefault { max-width:none !important; }
.w100p { width:100% !important; }
.w145 { width:145px !important; }
.w150 { width:150px !important; }
.w160 { width:160px !important; }
.w170 { width:170px !important; }
.w180 { width:180px !important; }
.w190 { width:190px !important; }
.w300 { width:300px !important; }
.w400 { width:400px !important; }
.w480 { width:480px !important; }
.mt0 { margin-top:0px !important; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt50 { margin-top:50px !important; }
.mt60 { margin-top:60px !important; }
.ml6 { margin-left:6px !important; }
.ml15 { margin-left:15px !important; }
.ml17 { margin-left:17px !important; }
.ml20 { margin-left:20px !important; }
.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.pd0 {padding:0 !important;}
.pd30 { padding:30px !important; }
.pr0 {padding-right:0 !important;}
.pt30 {padding-top:30px !important;}
.brd-t-ty1 {border-top:1px solid #e2e2e4 !important;}
.brd-r-ty1 {border-right:1px solid #e2e2e4;}
.brd-b-ty1 {border-bottom:1px solid #e2e2e4 !important;}
.brd-t-ty2 {border-top:2px solid #5b648a !important;}
.brd-r-ty2 {border-right:2px solid #5b648a !important;}
.brd-b-ty2 {border-bottom:2px solid #5b648a !important;}
.brd-l-ty2 {border-left:2px solid #5b648a !important;}

.nowrap {white-space:nowrap;}
.tblFixed {table-layout:fixed;}
.hide { position:absolute; left:-99999px; }
.spacing-3 {letter-spacing:-3px;}