@charset "utf-8";
@import url("lib/font.css");

/* HTML Default */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0; line-height:inherit; box-sizing:border-box; }
article, aside, hgroup, header, footer, figure, figcaption, nav, section { display:block; }
body { padding:0; margin:0; box-sizing:border-box; font-family:'Noto Sans', sans-serif; }
body { width:100%; -webkit-text-size-adjust:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:14px; } 
ol, ul { list-style:none; }
blockquote, q {quotes:none; }
blockquote:before, blockquote:after,q:before, q:after {content:''; }
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; width:100%; }
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:inherit; }
a { color:inherit; text-decoration:none; }
a:active, a:hover, a:focus { text-decoration: none; }
/* a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none; cursor:pointer;} */
legend, caption { font-size:0; line-height:0; }
textarea { resize:vertical; font:inherit; overflow-y:auto; box-sizing:border-box; -webkit-appearance:none; -webkit-border-radius:0px;}
input, select { color:inherit; font:inherit; vertical-align: middle; box-sizing:border-box;}
address, i { font-style:normal; }
img, select, input, button { vertical-align:middle; }
input, button { border-radius:0; background: transparent; -webkit-appearance: none; }
button::-moz-focus-inner { border: 0;}
em { font-style:normal; }
strong { font-weight:normal; }