@charset "utf-8";

/* ==============================
* MY서비스(기업)
* ============================== */

/* 일학습병행 */
.workStudyArea .bigTitle { padding: 0 0 15px 0; font-size: 22px; font-weight: bold; color: #292a2d; }
.workStudyArea .bigTitle + .searchWrap { margin-top: 0; }
.workStudyArea .searchWrap .selectWrap { font-size: 0; }
.workStudyArea .searchWrap .selectWrap select + .btnArea { margin-left: 10px; }
.workStudyArea.myInfoArea .btnGroup { margin-top: 0; }
.workStudyArea .AddFilesArea { margin-bottom: 0; }
.workStudyArea .w220 { width: 220px; }
.workStudyArea.myInfoArea .tableArea table.view.form .inputGroup .telInput { width: 70px; min-width: 70px; }
.workStudyArea.myInfoArea .tableArea table.view.form .inputGroup .telSelect { width: 70px; min-width: 70px; padding: 0 12px; }
.ui_checkBox.checkOnly { padding-left: 26px; }
.ui_checkBox.checkOnly label { display: inline-block; width: 0; height: 0; overflow: hidden; }
.workStudyArea .passportInput { display: none; }
.dateSelect.tableDate input { width: 182px; height: 32px; }